


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
</head>
<style>
    .input-transition {
        transition: width 0.3s ease;
    }
    .w-330 {
        width: 250px;
    }

    .w-175 {
        width: 175px;
    }
    .mrr{ margin-right: 20%}
    .mll{margin-left: 20%}

</style>

<body class="bg-gray-500">
<div class="flex items-center justify-between">
    <div class="bg-gradient-to-r from-black to-gray-500 p-3 flex">
        <P class=" text-white font-bold text-2xl p-2 ">Xếp hạng</P>

    </div>
    <div class="bg-gradient-to-r from-gray-500 to-blue-500 flex ">

        <P class=" text-white font-bold text-xl p-2 "> Xu hướng |</P>
        <P class=" text-white font-bold text-xl p-2 "> Lược đọc |</P>
        <P class=" text-white font-bold text-xl p-2 "> Tháng |</P>
        <P class=" text-white font-bold text-xl p-2 "> Ngày</P>



    </div>
</div>
<div class="bg-gradient-to-r from-blue-800 to-gray-500">
    <div class="p-6 flex flex-wrap items-center justify-center ">

        <div class="w-330 bg-gradient-to-b from-black to-gray-500 rounded-t-xl overflow-hidden p-3 m-3">
            <img class="w-full h-auto rounded-t-xl " src="https://imagemanga.blob.core.windows.net/assets/imgrank.jpg" alt="Image description">
            <div class="bg-black p-2 bg-gradient-to-r from-black to-gray-500 mt-2 flex justify-between items-center">
                <div class="bg-yellow-500 rounded-full w-5 h-5 flex items-center justify-center text-white m-1">
                    1
                </div>
                <div class="flex items-center">
                    <img class="h-6" src="https://imagemanga.blob.core.windows.net/assets/iconfire.png" alt="Icon">
                    <p class="text-white font-bold m-1">100.000</p>
                </div>
            </div>
            <div>
                <p class="text-white font-bold text-lg"> jujutsu kaisen </p>
                <p class="text-white text-sm"> emi fukada</p>
            </div>
        </div>

        <div class="w-330 bg-gradient-to-b from-black to-gray-500 rounded-t-xl overflow-hidden p-3 m-3">
            <img class="w-full h-auto rounded-t-xl " src="https://imagemanga.blob.core.windows.net/assets/imgrank.jpg" alt="Image description">
            <div class="bg-black p-2 bg-gradient-to-r from-black to-gray-500 mt-2 flex justify-between items-center">
                <div class="bg-yellow-500 rounded-full w-5 h-5 flex items-center justify-center text-white m-1">
                    2
                </div>
                <div class="flex items-center">
                    <img class="h-6" src="https://imagemanga.blob.core.windows.net/assets/iconfire.png" alt="Icon">
                    <p class="text-white font-bold m-1">100.000</p>
                </div>
            </div>
            <div>
                <p class="text-white font-bold text-lg"> jujutsu kaisen </p>
                <p class="text-white text-sm"> emi fukada</p>
            </div>
        </div>
        <div class="w-330 bg-gradient-to-b from-black to-gray-500 rounded-t-xl overflow-hidden p-3 m-3">
            <img class="w-full h-auto rounded-t-xl " src="https://imagemanga.blob.core.windows.net/assets/imgrank.jpg" alt="Image description">
            <div class="bg-black p-2 bg-gradient-to-r from-black to-gray-500 mt-2 flex justify-between items-center">
                <div class="bg-yellow-500 rounded-full w-5 h-5 flex items-center justify-center text-white m-1">
                    3
                </div>
                <div class="flex items-center">
                    <img class="h-6" src="https://imagemanga.blob.core.windows.net/assets/iconfire.png" alt="Icon">
                    <p class="text-white font-bold m-1">100.000</p>
                </div>
            </div>
            <div>
                <p class="text-white font-bold text-lg"> jujutsu kaisen </p>
                <p class="text-white text-sm"> emi fukada</p>
            </div>
        </div>
    </div>
</div>
<div class="bg-gradient-to-r from-blue-800 to-gray-500">
    <div class="p-6 flex flex-wrap items-center justify-center ">

        <div class="w-175 bg-gradient-to-b from-black to-gray-500 rounded-t-xl overflow-hidden p-2 m-2">
            <img class="w-full h-auto rounded-t-xl " src="https://imagemanga.blob.core.windows.net/assets/imgrank.jpg" alt="Image description">
            <div class="bg-black p-2 bg-gradient-to-r from-black to-gray-500 mt-2 flex justify-between items-center">
                <div class="bg-yellow-500 rounded-full w-5 h-5 flex items-center justify-center text-white m-1">
                    5
                </div>
                <div class="flex items-center">
                    <img class="h-4" src="https://imagemanga.blob.core.windows.net/assets/iconfire.png" alt="Icon">
                    <p class="text-white text-sm font-bold m-1">100.000</p>
                </div>
            </div>
            <div>
                <p class="text-white text-sm font-bold"> jujutsu kaisen </p>
                <p class="text-white text-sm"> emi fukada</p>
            </div>
        </div>


    </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
