<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"/>
</head>
<style>
  .h-30 {
    height: 60px;
  }

  .h200 {

    height: 200px;
  }

  .w-500 {
    width: 500px;
  }

  .w-1000 {
    width: 1000px;
  }

  .h-50 {
    height: 50px;
  }


</style>


<body class="bg-white relative">
<div class="row">
  <div class="p-4 col-2 bg-white  ">
    <div class=" rounded-xl flex justify-center items-center bg-white ">
      <img (click)="goToIndex()" alt="Logo"
           class="h-30 p-1" src="https://mangaplus.shueisha.co.jp/img/web_logo_190118_light-txt.06756983.png">
    </div>
    <ul>
      <li class="font-bold text-sm text-center">Quản lý đọc truyện</li>
      <ul class="flex mt-8 mx-2">
        <img class="h-4 mt-1" src="https://imagemanga.blob.core.windows.net/assets/icons8-home-20.png">
        <li (click)="goToIndex()" class="font-bold text-center mx-2 ">Trang chính</li>
      </ul>
      <ul>
        <h1 (click)="goTomanager()"
            class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
            id="manageStories">
          Quản lý truyện</h1>

      </ul>
      <ul>
        <h1 (click)="goToacount()"
            class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
            id="manageStories1">
          Quản lý tài khoản</h1>
      </ul>
      <ul>
        <h1 (click)="goToComment()"
            class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
            id="manageStories2">
          Quản lý bình luận</h1>

      </ul>
      <h1 (click)="goTostatiscal()"
          class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
          id="manageStories2">
        Thống kê
      </h1>
      <h1 (click)="goToBanner()"
          class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
          id="manageStories4">
        Quản lý Banner
      </h1>
    </ul>
  </div>

  <div class="col-10 bg-white border border-black">
    <div class="p-2 border-b boder-gray-500">
      <div class="flex row ">
        <p class=" col-4  font-bold text-xl "> Quản lý tài khoản </p>
        <div class="col-7">
          <input aria-label="Tìm kiếm truyện" class=" form-control me-2" placeholder="Tìm kiếm tài khoản..."
                 type="search">
        </div>
      </div>
    </div>
    <div>
      <div class="flex items-end justify-end p-1 bg-white border-b boder-gray-500 ">
        <div class="border-2 border-yello text-yello p-1 px-2 mx-3 font-bold rounded-full w-auto">
          Lọc tài khoản
        </div>
      </div>
      <div class="flex items-end justify-end p-2 bg-white  border-b boder-gray-500 ">

        <div class="btn-success border-2 border-green-200 flex  p-1  rounded-full mx-2" id="buttonAdd">
          <img class="h-6" src="https://imagemanga.blob.core.windows.net/assets/icons8-plus-20.png">
          <p class="font-bold"> Thêm Tài khoản</p>
        </div>
      </div>
      <div class="p-2 flex flex-wrap   bg-white ">
        <div
          class=" mt-2 hover:bg-gray-200 flex items-center justify-between  rounded-lg  border-2 border-yellow-500 w-full ">
          <div class="flex p-1">
            <img class=" bg-gray-200 rounded-full h-10 p-1"
                 src="https://imagemanga.blob.core.windows.net/assets/icons8-human-40.png">
            <P class="p-2 border-r border-black">Tên tài khoản :xxxxx</P>
            <P class="p-2 border-r border-black">Mật khẩu : ........</P>
            <P class="p-2 border-r border-black">Phân quyền : x</P>
            <P class="p-2 border-r border-black">trạng thái : x</P>
          </div>
          <div class="flex">
            <button class="btn-success rounded-full p-2 mx-2 w-24"> Khích hoạt</button>
            <button class="btn-warning rounded-full p-2 mx-2 w-24"> Vô hiệu</button>
            <button class="btn-primary rounded-full p-2 mx-2 w-24" id="update"> Sửa</button>
            <button class="btn-danger rounded-full p-2 mx-2 w-24"> Xóa</button>

          </div>
        </div>


      </div>
    </div>
  </div>

</div>

<!-- them -->
<div class="hidden" id="overlay">
  <div class="bg-black w-full h-full opacity-75 fixed top-0 left-0 z-10"></div>
  <div class="absolute top-12 left-0 right-0 z-10 p-4  flex justify-center">
    <div class="bg-white  rounded-xl ">
      <div class="flex justify-between  ">
        <p class="p-2 text-xl font-bold mx-4"> Thêm Tài khoản </p>
        <p class="p-2 bg-red-500 font-bold mx-4 text-white" id="out"> Thoát </p>
      </div>
      <div class="p-4">
        <input class="form-control p-3 w-500 m-2 " placeholder="Tên tài khoản" type="text">
        <input class="form-control p-3 w-500 m-2 " placeholder="Mật khẩu" type="password">
        <input class="form-control p-3 w-500 m-2 " placeholder="Xác nhận mật khẩu" type="password">
        <div class="p-2">
          <select class="border border-gray-300 rounded p-2 w-full" id="myComboBox">
            <option disabled selected value="">Chọn phân quyền</option>
            <option value="option1">Tùy chọn 1</option>
            <option value="option2">Tùy chọn 2</option>
            <option value="option3">Tùy chọn 3</option>
          </select>
        </div>
        <div class="p-2">
          <select class="border border-gray-300 rounded p-2 w-full" id="myComboBox">
            <option disabled selected value="">Chọn trạng thái</option>
            <option value="option1">Tùy chọn 1</option>
            <option value="option2">Tùy chọn 2</option>
            <option value="option3">Tùy chọn 3</option>
          </select>
        </div>
        <button class="btn-primary p-2 rounded-xl w-full"> Thêm tài khoản</button>
      </div>
    </div>
  </div>
</div>
<!-- sửa -->
<div class="hidden" id="viewupdate">
  <div class="bg-black w-full h-full opacity-75 fixed top-0 left-0 z-10"></div>
  <div class="absolute top-12 left-0 right-0 z-10 p-4  flex justify-center">
    <div class="bg-white  rounded-xl ">
      <div class="flex justify-between  ">
        <p class="p-2 text-xl font-bold mx-4"> Sửa Tài khoản </p>
        <p class="p-2 bg-red-500 font-bold mx-4 text-white" id="outs"> Thoát </p>
      </div>
      <div class="p-4">
        <input class="form-control p-3 w-500 m-2 border border-gray-300 rounded" placeholder="Tên tài khoản: xxxxxx"
               readonly type="text">
        <input class="form-control p-3 w-500 m-2 " placeholder="Mật khẩu" type="password">
        <input class="form-control p-3 w-500 m-2 " placeholder="Xác nhận mật khẩu" type="password">
        <div class="p-2">
          <select class="border border-gray-300 rounded p-2 w-full" id="myComboBox">
            <option disabled selected value="">Chọn phân quyền</option>
            <option value="option1">Tùy chọn 1</option>
            <option value="option2">Tùy chọn 2</option>
            <option value="option3">Tùy chọn 3</option>
          </select>
        </div>
        <div class="p-2">
          <select class="border border-gray-300 rounded p-2 w-full" id="myComboBox">
            <option disabled selected value="">Chọn trạng thái</option>
            <option value="option1">Tùy chọn 1</option>
            <option value="option2">Tùy chọn 2</option>
            <option value="option3">Tùy chọn 3</option>
          </select>
        </div>
        <button class="btn-primary p-2 rounded-xl w-full"> Sửa tài khoản</button>
      </div>
    </div>
  </div>
</div>

</body>
<script>
  const button = document.getElementById('buttonAdd');
  const overlay = document.getElementById('overlay');
  const out = document.getElementById('out');
  out.addEventListener('click', () => {
    overlay.classList.toggle('hidden');
  });
  button.addEventListener('click', () => {
    overlay.classList.toggle('hidden');
  });

  const update = document.getElementById('update');
  const viewupdate = document.getElementById('viewupdate');
  const outs = document.getElementById('outs');
  outs.addEventListener('click', () => {
    viewupdate.classList.toggle('hidden');
  });
  update.addEventListener('click', () => {
    viewupdate.classList.toggle('hidden');
  });

  const manageStories = document.getElementById('manageStories1');

  // Thêm các lớp Tailwind CSS ngay lập tức
  manageStories.classList.add('border-yellow-500', 'text-yellow-500');


</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
