.container-width {
  width: 60%;
  height: auto;
  margin: auto; /* Center the container */
  margin-top: 5%;
}

.w-500 {
  width: 500px;
}

.cl-blue {
  background-color: #283257;
}

.cl-yellow {
  color: #f0af30;
}

.cl-blue1 {
  background-color: #141a31;
}

.cl-blufacebook {
  background-color: #0086F5;
}

.pbb {
  padding-top: 2px;
}

@media (max-width: 768px) {
  .w-500 {
    width: 90%;
  }

  .container-width {
    width: 90%; /* Adjust for smaller screens */
  }
}

.equal-height {
  display: flex;
  align-items: stretch;
}

.p-100 {
  padding-bottom: 350px;
}
