<div>
  <div>
    <div class="bg-img flex justify-center z-20 ">
      <div class="w-500 cl-blue opacity-95 rounded-2xl py-4  m-20">
        <div class="flex justify-between items-center">
          <p class="font-bold cl-yellow text-xl p-4">Đăng ký tài khoản </p>
          <img (click)="goToIndex()" alt="Icon" class="p-4"
               src="https://mangaimg.blob.core.windows.net/assets/iconx.png">
        </div>
        <div class="px-4 mb-2">
          <div class="text-white font-bold text-lg">Tên tài khoản</div>
          <input class="text-white w-full p-2 rounded-sm  cl-blue1" id="username" placeholder="abcdef" type="text">
        </div>
        <div class="px-4 mb-2">
          <div class="text-white font-bold text-lg">Địa Chỉ Gmail</div>
          <input class="text-white w-full p-2 rounded-sm  cl-blue1" id="email" placeholder="something@gmail.com"
                 type="text">
        </div>
        <div class="px-4 mb-2">
          <div class="text-white font-bold text-lg">Mật khẩu</div>
          <input class="text-white w-full p-2 rounded-sm  cl-blue1" id="password"
                 type="password">
        </div>
        <div class="px-4 mb-2">
          <div class="text-white font-bold text-lg">Xác nhận mật khẩu</div>
          <input class="text-white w-full  rounded-sm p-2 cl-blue1" id="passwordAccept"
                 type="password">
        </div>
        <div class="container p-4">
          <button (click)="registerAccount()" class="btn btn-primary w-full font-weight-bold">Đăng kí</button>
        </div>
      </div>
    </div>
  </div>
</div>
