<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"/>
</head>
<style>
  .container-width {
    width: 60%;
    height: auto;
    margin: auto; /* Center the container */
    margin-top: 5%;
  }

  .w-500 {
    width: 500px;
  }

  .cl-blue {
    background-color: #283257;
  }

  .cl-yellow {
    color: #f0af30;
  }

  .cl-blue1 {
    background-color: #141a31;
  }

  .cl-blufacebook {
    background-color: #0086F5;
  }

  .pbb {
    padding-top: 2px;
  }

  @media (max-width: 768px) {
    .w-500 {
      width: 90%;
    }

    .container-width {
      width: 90%; /* Adjust for smaller screens */
    }
  }

  .equal-height {
    display: flex;
    align-items: stretch;
  }

  .p-100 {
    padding-bottom: 350px;
  }
</style>

<body class="bg-white">
<div class="relative">
  <div class="absolute w-full">
    <div id=" ListPicture ">
      <div class="bg-black bg-opacity-80 ">
        <div class="carousel slide  pb-5" data-interval="3000" data-ride="carousel" id="carouselExample">
          <div class="carousel-inner  bg-black p-4">
            <div class="carousel-item active">
              <div class="row flex items-center">
                <div class="col-3">
                  <img alt="Ảnh 1"
                       class="rounded-lg d-block "
                       src="https://jumpg-assets.tokyo-cdn.com/secure/featured_top_banner/374317.jpg?hash=ITsbsTHxkrrI-59xa_IlvQ&expires=2145884400">
                </div>
                <div class="col-6">
                  <img alt="Ảnh 1"
                       class="rounded-lg d-block "
                       src="https://jumpg-assets.tokyo-cdn.com/secure/featured_top_banner/373105.jpg?hash=4Zxneh_mROs2MaV5rE1xsQ&expires=2145884400">
                </div>
                <div class="col-3">
                  <img alt="Ảnh 1" class="rounded-lg d-block "
                       src="https://imagemanga.blob.core.windows.net/assets/picture1.jpg">
                </div>
              </div>
            </div>

          </div>
          <div class="carousel-inner p-8">
            <div class="carousel-item active">
              <div class="row flex justify-between">
                <div class="col-6">
                  <img alt="Ảnh 1"
                       class="rounded-lg d-block "
                       src="https://jumpg-assets.tokyo-cdn.com/secure/featured_top_banner/374218.jpg?hash=MEQM3_PMZQYM416Kuz8ZRg&expires=2145884400">
                </div>
                <div class="col-6">
                  <img alt="Ảnh 1"
                       class="rounded-lg d-block "
                       src="https://jumpg-assets.tokyo-cdn.com/secure/featured_top_banner/373978.jpg?hash=UgR5PxRWRPTCK4glN0VtHw&expires=2145884400">
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Lớp phủ màu đen -->
  <div class="absolute bg-black w-full h-full opacity-75 fixed top-0 left-0 z-10"></div>

  <!-- Hộp "Login" nằm trên lớp phủ -->
  <div class=" h-full flex flex-col md:flex-row equal-height justify-center items-center relative z-20 p-100">
    <div class="w-500 cl-blue rounded-l-xl py-4 d-flex flex-column">
      <div class="flex justify-center items-center pbb">
        <p class="font-bold cl-yellow text-xl p-4">Đăng kí với địa chỉ email</p>
      </div>
      <div class="px-4">
        <p class="text-white font-bold text-lg">Tên tài khoản</p>
        <input class="text-white w-full p-1 rounded-sm mt-2 cl-blue1" id="username" placeholder="abcdef" type="text">
      </div>
      <div class="px-4">
        <p class="text-white font-bold text-lg">Địa Chỉ Gmail</p>
        <input class=" text-white w-full p-1 rounded-sm mt-2 cl-blue1" id="email" placeholder="something@gmail.com"
               type="text">
      </div>
      <div class="px-4">
        <p class="text-white font-bold text-lg">Mật khẩu</p>
        <input class="text-white w-full p-1 rounded-sm mt-2 cl-blue1" id="password" placeholder="xxxxx" type="password">
      </div>
      <div class="px-4">
        <p class="text-white font-bold text-lg">Xác nhận mật khẩu</p>
        <input class="text-white w-full p-1 rounded-sm mt-2 cl-blue1" id="passwordaccept" placeholder="xxxxxxx"
               type="password">
      </div>

      <div class="container p-4">
        <button (click)="registerAccount()" class="btn btn-primary w-full font-weight-bold">Đăng kí</button>
      </div>
    </div>
    <div class="w-500 cl-blue rounded-r-xl py-4 d-flex flex-column">
      <div class="flex justify-end items-end">
        <img (click)="goToIndex()" alt="Icon" class="mx-4"
             src="https://imagemanga.blob.core.windows.net/assets/iconx.png">
      </div>
      <div class="flex justify-center items-center">
        <p class="font-bold cl-yellow text-xl p-3">Đăng kí với các tài khoản khác</p>
      </div>
      <div class="flex justify-center items-center">
        <button aria-label="Login with Facebook"
                class="btn-primary flex flex-col justify-center items-center p-2 cl-blufacebook rounded-xl m-2 px-4">
          <img alt="Facebook Icon" class="mb-2"
               src="https://imagemanga.blob.core.windows.net/assets/icons8-facebook-100.png">
          <p class="text-white font-bold">Facebook</p>
        </button>
        <button aria-label="Login with Google"
                class="btn-outline-danger flex flex-col justify-center items-center p-2 bg-gray-200 rounded-xl m-2 px-4">
          <img alt="Google Icon" class="mb-2"
               src="https://imagemanga.blob.core.windows.net/assets/icons8-google-100.png">
          <p class="text-black font-bold">Google</p>
        </button>
      </div>
      <div class="flex justify-center items-center">
        <button aria-label="Login with Microsoft"
                class="btn-outline-success flex flex-col justify-center items-center p-2 bg-gray-600 rounded-xl m-2 px-4">
          <img alt="Microsoft Icon" class="mb-2"
               src="https://imagemanga.blob.core.windows.net/assets/icons8-microsoft-100.png">
          <p class="text-white font-bold">Microsoft</p>
        </button>
        <button aria-label="Login with Twitter"
                class="btn-primary flex flex-col justify-center items-center p-2 bg-blue-500 rounded-xl m-2 px-4">
          <img alt="Twitter Icon" class="mb-2"
               src="https://imagemanga.blob.core.windows.net/assets/icons8-twitter-100.png">
          <p class="text-white font-bold">Twitter</p>
        </button>
      </div>
    </div>
  </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
