.input-transition {
  transition: width 0.3s ease;
}

.w-330 {
  width: 220px;
}

.input-transition {
  transition: width 0.3s ease;
}

.w-330 {
  width: 220px;
}

.w-175 {
  width: 175px;
}

.mrr {
  margin-right: 20%
}

.mll {
  margin-left: 20%
}

.w-175 {
  width: 175px;
}

.mrr {
  margin-right: 20%
}

.mll {
  margin-left: 20%
}
