
.w-500 {
  width: 500px;
}
.cl-blue {
  background-color: #283257;
}
.cl-yellow {
  color: #f0af30;
}
.cl-blue1 {
  background-color: #141a31;
}
.cl-blufacebook {
  background-color: #3c568f;
}
.p-100 {
  padding-bottom: 500px;
}
