<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"/>
</head>
<style>
  .input-transition {
    transition: width 0.3s ease;
  }

  .w-220 {
    width: 220px;
  }

  .w-70 {
    width: 70px;
  }

  .mrr {
    margin-right: 20px;
  }

  .mll {
    margin-left: 20px;
  }

  .p-20pt {
    padding-left: 20%;
    padding-right: 20%;
  }

  .bg-main {
    background-color: #191919;
  }

  .w-90 {
    width: 90%;
  }

  .text-small {
    font-size: 10px;
  }
</style>

<body class="bg-main">

<div class="p-20pt pt-2">
  <div class="w-full flex items-center justify-between">
    <button (click)="goToChapter(+index - 1)"
            [disabled]="!hasPreviousChapter()" [ngClass]="{'bg-green-500': hasPreviousChapter(), 'bg-white': !hasPreviousChapter()}"
            class="Btn-light p-1 rounded-l-full text-sm">
      Chương trước
    </button>
    <div class="flex items-center">
      <select (change)="goToChapter(index)" [(ngModel)]="index" class="bg-white rounded p-1 text-sm"
              id="comboBox">
        <option *ngFor="let chapter of chapters" [value]="chapter.index">
          Chương {{ chapter.index }}: {{ chapter.title }}
        </option>
      </select>
    </div>
    <button (click)="goToChapter(+index + 1)"
            [disabled]="!hasNextChapter()" [ngClass]="{'bg-green-500': hasNextChapter(), 'bg-white': !hasNextChapter()}"
            class="Btn-light p-1 rounded-r-full text-sm">
      Chương sau
    </button>
  </div>

  <div class="bg-black">
    <div *ngFor="let image of images" class="p-1 flex justify-center">
      <img [src]="image" alt="Chapter Image" class="max-w-full h-auto">
    </div>
  </div>
  <div class="w-full flex items-center justify-between">
    <button (click)="goToChapter(index - 1)"
            [disabled]="!hasPreviousChapter()" [ngClass]="{'bg-green-500': hasPreviousChapter(), 'bg-white': !hasPreviousChapter()}"
            class="Btn-light p-1 rounded-l-full text-sm">
      Chương trước
    </button>
    <div class="flex items-center">
      <select (change)="goToChapter(index)" [(ngModel)]="index" class="bg-white rounded p-1 text-sm"
              id="comboBox">
        <option *ngFor="let chapter of chapters" [value]="chapter.index">
          Chương {{ chapter.index }}: {{ chapter.title }}
        </option>
      </select>
    </div>
    <button (click)="goToChapter(+index + 1)"
            [disabled]="!hasNextChapter()" [ngClass]="{'bg-green-500': hasNextChapter(), 'bg-white': !hasNextChapter()}"
            class="Btn-light p-1 rounded-r-full text-sm">
      Chương sau
    </button>
  </div>

</div>
<div class="container-fluid h-1 p-0 bg-blue-500 my-1"></div>
<div class="h-full bg-main">
  <div
    class="flex items-center text-white font-bold text-2xl bg-gradient-to-r from-blue-800 to-gray-500 p-2 px-4">
    <img alt="Comment Icon" class="h-11 mr-2"
         src="https://imagemanga.blob.core.windows.net/assets/icons8-comment-100.png">
    <p>Bình luận</p>
  </div>

  <!--them binh luan-->
  <div class="flex justify-center my-4">
    <div class=" p-3 w-90 hover:bg-gray-300 bg-gradient-to-r from-black to-gray-800 rounded-xl">
      <div class="row p-3 flex">
        <div
          class="h-16 w-16 bg-white rounded-full overflow-hidden border flex justify-center items-center">
          <img alt="Avatar"
               class="h-16 w-16 p-0 object-cover"
               src="https://jumpg-assets.tokyo-cdn.com/secure/comment_icon/255155.png?hash=OFxnXehjcuAoDv9nfn_Izg&expires=2145884400">
        </div>
        <div class="col-11">
          <div>
            <p class="font-bold text-blue-500 mx-2">Nguyen tran</p>
          </div>
          <div class="m-2 flex">
            <input class="p-3 w-full rounded-l-xl" placeholder="Viết bình luận của bạn" type="text">
            <button class="btn-primary w-24 rounded-r-xl"> Bình luận</button>
          </div>
        </div>

      </div>

    </div>
  </div>
  <!-- binh luan cua ban than-->
  <div class="flex justify-center mt-4">
    <div class=" p-3 w-90 hover:bg-gray-300 bg-gradient-to-r from-black to-gray-800 rounded-xl">
      <div class="row p-3 flex">
        <div
          class="h-16 w-16 bg-white rounded-full overflow-hidden border flex justify-center items-center">
          <img alt="Avatar"
               class="h-16 w-16 p-0 object-cover"
               src="https://jumpg-assets.tokyo-cdn.com/secure/comment_icon/255155.png?hash=OFxnXehjcuAoDv9nfn_Izg&expires=2145884400">
        </div>
        <div>
          <div>
            <p class="font-bold text-blue-500 mx-2">Nguyen tran</p>
          </div>
          <div class="m-2 flex flex-wrap">
            <p class="text-sm ml-2 text-white">here our mc is gonna go so this is absolutely going into
              my reading list!here our mc is gonna go so this is absolutely going into my reading
              list!</p>
          </div>
        </div>
      </div>
      <div class="flex justify-between">
        <p class="text-small text-white"> Time: 21:30 / Day : 9/9/2020</p>
        <div class="flex">

          <button class="text-sm text-blue-500 underline">Sửa bình luận</button>
          <p class="text-white mx-1">/</p>
          <button class="text-sm text-blue-500 underline">Xóa bình luận</button>
        </div>
      </div>
    </div>
  </div>
  <!-- binh luan cua nguoi khac -->
  <div class="flex justify-center mt-4">
    <div class=" p-3 w-90 hover:bg-gray-300 bg-gradient-to-r from-black to-gray-800 rounded-xl">
      <div class="row p-3 flex">
        <div
          class="h-16 w-16 bg-white rounded-full overflow-hidden border flex justify-center items-center">
          <img alt="Avatar"
               class="h-16 w-16 p-0 object-cover"
               src="https://jumpg-assets.tokyo-cdn.com/secure/comment_icon/142680.png?hash=9qrM0CsWXQUwQTB_DCAjOg&expires=2145884400">
        </div>
        <div>
          <div>
            <p class="font-bold text-blue-500 mx-2">Khanh đb</p>
          </div>
          <div class="m-2 flex flex-wrap">
            <p class="text-sm ml-2 text-white">truyen do vai ceccccccccccccccccc</p>
          </div>
        </div>
      </div>
      <div class="flex justify-between">
        <p class="text-small text-white"> Time: 21:30 / Day : 9/9/2020</p>
        <button class="text-small text-blue-500 underline"> Báo cáo bình luận</button>
      </div>
    </div>
  </div>

</div>
<div class="h-8 w-full bg-main"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
