<div>
  <div class="w-full flex justify-center bg-img">
    <div class="w-500 opacity-95 cl-blue rounded-xl py-4 m-20">
      <div class="flex justify-between items-center">
        <p class="font-bold cl-yellow text-xl p-4">Đổi mật khẩu</p>
        <img (click)="goToIndex()" class="p-4" src="https://mangaimg.blob.core.windows.net/assets/iconx.png">
      </div>
      <div class="px-4">
        <p class="text-white font-bold text-xl">Tên tài khoản</p>
        <input class="text-white w-full p-1 rounded-sm mt-2 cl-blue1" id="userName" placeholder="something"
               type="text">
      </div>
      <div class="px-4">
        <div class="flex justify-between items-center mt-2">
          <p class="text-white font-bold text-xl">Mật Khẩu</p>
          <p (click)="goToForgotPassword()" class="text-white cursor-pointer underline mt-2">Quên mật khẩu?</p>
        </div>
        <input class="text-white w-full p-1 rounded-sm mt-2 cl-blue1" id="currentPassword"
               placeholder="Mật khẩu của bạn" type="password">
      </div>
      <div class="px-4">
        <p class="text-white font-bold text-xl">Mật khẩu mới</p>
        <input class="text-white w-full p-1 rounded-sm mt-2 cl-blue1" id="newPassword" placeholder="Nhập mật khẩu mới"
               type="password">
      </div>
      <div class="px-4">
        <p class="text-white font-bold text-xl">Xác nhận mật khẩu</p>
        <input class="text-white w-full p-1 rounded-sm mt-2 cl-blue1" id="confirmPassword"
               placeholder="Xác nhận mật khẩu" type="password">
      </div>
      <div class="container p-4">
        <button (click)="TakeData()" class="btn btn-primary w-full font-weight-bold">Đổi mật khẩu</button>
      </div>
    </div>
  </div>
</div>
