<div class="bg-white">
  <div class="relative">
    <div class="absolute w-full">
      <div id="ListPicture">
        <div class="bg-black bg-opacity-80">
          <div class="carousel slide pb-5" data-interval="3000" data-ride="carousel" id="carouselExample">
            <div class="carousel-inner bg-black p-4">
              <div class="carousel-item active">
                <div class="row flex items-center">
                  <div class="col-3">
                    <img alt="Ảnh 1" class="rounded-lg d-block"
                         src="https://jumpg-assets.tokyo-cdn.com/secure/featured_top_banner/374317.jpg?hash=ITsbsTHxkrrI-59xa_IlvQ&expires=2145884400">
                  </div>
                  <div class="col-6">
                    <img alt="Ảnh 1" class="rounded-lg d-block"
                         src="https://jumpg-assets.tokyo-cdn.com/secure/featured_top_banner/373105.jpg?hash=4Zxneh_mROs2MaV5rE1xsQ&expires=2145884400">
                  </div>
                  <div class="col-3">
                    <img alt="Ảnh 1" class="rounded-lg d-block"
                         src="https://imagemanga.blob.core.windows.net/assets/picture1.jpg">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row flex justify-between">
                  <div class="col-6">
                    <img alt="Ảnh 2" class="rounded-lg d-block"
                         src="https://jumpg-assets.tokyo-cdn.com/secure/featured_top_banner/374218.jpg?hash=MEQM3_PMZQYM416Kuz8ZRg&expires=2145884400">
                  </div>
                  <div class="col-6">
                    <img alt="Ảnh 2" class="rounded-lg d-block"
                         src="https://jumpg-assets.tokyo-cdn.com/secure/featured_top_banner/373978.jpg?hash=UgR5PxRWRPTCK4glN0VtHw&expires=2145884400">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Lớp phủ màu đen -->
    <div class="absolute bg-black w-full h-full opacity-75 fixed top-0 left-0 z-10"></div>

    <!-- Hộp "Đổi mật khẩu" nằm trên lớp phủ -->
    <div class="w-full h-full flex justify-center items-center relative z-20 p-100">
      <div class="w-500 cl-blue rounded-sm py-4">
        <div class="flex justify-between items-center">
          <p class="font-bold cl-yellow text-xl p-4">Đổi mật khẩu</p>
          <img (click)="goToIndex()" class="p-4" src="https://imagemanga.blob.core.windows.net/assets/iconx.png">
        </div>
        <div class="px-4">
          <p class="text-white font-bold text-xl">Địa Chỉ Email</p>
          <input class="text-white w-full p-1 rounded-sm mt-2 cl-blue1" id="email" placeholder="something@email.com"
                 type="text">
        </div>
        <div class="px-4">
          <div class="flex justify-between items-center mt-2">
            <p class="text-white font-bold text-xl">Mật Khẩu</p>
            <p (click)="goToForgotpassword()" class="text-white cursor-pointer underline mt-2">Quên mật khẩu?</p>
          </div>
          <input class="text-white w-full p-1 rounded-sm mt-2 cl-blue1" id="currentPassword"
                 placeholder="Mật khẩu của bạn" type="password">
        </div>
        <div class="px-4">
          <p class="text-white font-bold text-xl">Mật khẩu mới</p>
          <input class="text-white w-full p-1 rounded-sm mt-2 cl-blue1" id="newPassword" placeholder="Nhập mật khẩu mới"
                 type="password">
        </div>
        <div class="px-4">
          <p class="text-white font-bold text-xl">Xác nhận mật khẩu</p>
          <input class="text-white w-full p-1 rounded-sm mt-2 cl-blue1" id="confirmPassword"
                 placeholder="Xác nhận mật khẩu" type="password">
        </div>
        <div class="container p-4">
          <button class="btn btn-primary w-full font-weight-bold">Đổi mật khẩu</button>
        </div>
      </div>
    </div>
  </div>
</div>
