<main>
  <div #container class="container">
    <div class="form-container sign-up">
      <form>
        <h1 class="font-bold">Create account</h1>
        <div class="social-icons">
          <a class="icons" href="#"><img loading="lazy"
            src="https://jumpg-assets.tokyo-cdn.com/secure/comment_icon/436.png?hash=hWSi-z_FfQquG902GF_KdA&expires=2145884400" alt=""></a>
          <a class="icons" href="#"><img loading="lazy"
            src="https://jumpg-assets.tokyo-cdn.com/secure/comment_icon/38004.png?hash=NvALQnR4pRpsfk4Ul6QYdA&expires=2145884400" alt=""></a>
          <a class="icons" href="#"><img loading="lazy"
            src="https://jumpg-assets.tokyo-cdn.com/secure/comment_icon/508.png?hash=AKSNNUJg2ttqhfWZ23dX6w&expires=2145884400" alt=""></a>
          <a class="icons" href="#"><img loading="lazy"
            src="https://jumpg-assets.tokyo-cdn.com/secure/comment_icon/424.png?hash=sZTeD2UtSfMjYNqf0CmUiw&expires=2145884400" alt=""></a>

        </div>
        <span>Đăng ký với G-mail</span>
        <input id="usernameSign" placeholder="User name" type="text">
        <input id="email" placeholder="Enter G-mail" type="email">
        <input id="passwordSign" placeholder="Enter Password" type="password">
        <input id="passwordAccept" placeholder="Enter Confirm Password " type="password">
        <button (click)="registerAccount()">Sign up</button>
      </form>
    </div>

    <div class="form-container sign-in">
      <form>
        <h1 class="font-bold">Sign in</h1>
        <div class="social-icons">
          <a class="icons" href="#"><img loading="lazy"
            src="https://jumpg-assets.tokyo-cdn.com/secure/comment_icon/436.png?hash=hWSi-z_FfQquG902GF_KdA&expires=2145884400" alt=""></a>
          <a class="icons" href="#"><img loading="lazy"
            src="https://jumpg-assets.tokyo-cdn.com/secure/comment_icon/38004.png?hash=NvALQnR4pRpsfk4Ul6QYdA&expires=2145884400" alt=""></a>
          <a class="icons" href="#"><img loading="lazy"
            src="https://jumpg-assets.tokyo-cdn.com/secure/comment_icon/508.png?hash=AKSNNUJg2ttqhfWZ23dX6w&expires=2145884400" alt=""></a>
          <a class="icons" href="#"><img loading="lazy"
            src="https://jumpg-assets.tokyo-cdn.com/secure/comment_icon/424.png?hash=sZTeD2UtSfMjYNqf0CmUiw&expires=2145884400" alt=""></a>
        </div>
        <span>Đăng nhập với tên tài khoản và mật khẩu</span>
        <input id="username" placeholder="Enter UserName" type="text">
        <input id="password" placeholder="Enter Password" type="password">
        <div class="flex">
          <div (click)=" goToForgotPassword()" class="underline text-sm">Quên mật khẩu</div>
          <div>/</div>
          <div (click)=" goToUpdatePassword()" class="underline text-sm">Đổi mật khẩu</div>

        </div>
        <button (click)="loginWeb()">Sign in</button>
      </form>
    </div>

    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1 class="font-bold">Welcome to Manga .net core </h1>
          <p>Sign in With ID & Password</p>
          <button #login>Sign In</button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1 class="font-bold">Welcome to Manga .net core</h1>
          <p>Cùng thưởng thức manga chất lượng của chúng tôi</p>
          <button #register>Sign up</button>
        </div>
      </div>
    </div>
  </div>
</main>
<p-toast></p-toast>
