<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"/>
  <style>
    .w-500 {
      width: 500px;
    }

    .cl-blue {
      background-color: #283257;
    }

    .cl-yellow {
      color: #f0af30;
    }

    .cl-blue1 {
      background-color: #141a31;
    }

    .cl-blufacebook {
      background-color: #3c568f;
    }

    .pb-100 {
      padding-bottom: 200px;
    }
  </style>
</head>
<body class="bg-white">

<div class="relative">
  <div class="absolute w-full">
    <div id=" ListPicture ">
      <div class="bg-black bg-opacity-80 ">
        <div class="carousel slide  pb-5" data-interval="3000" data-ride="carousel" id="carouselExample">
          <div class="carousel-inner  bg-black p-4">
            <div class="carousel-item active">
              <div class="row flex items-center">
                <div class="col-3">
                  <img alt="Ảnh 1"
                       class="rounded-lg d-block "
                       src="https://jumpg-assets.tokyo-cdn.com/secure/featured_top_banner/374317.jpg?hash=ITsbsTHxkrrI-59xa_IlvQ&expires=2145884400">
                </div>
                <div class="col-6">
                  <img alt="Ảnh 1"
                       class="rounded-lg d-block "
                       src="https://jumpg-assets.tokyo-cdn.com/secure/featured_top_banner/373105.jpg?hash=4Zxneh_mROs2MaV5rE1xsQ&expires=2145884400">
                </div>
                <div class="col-3">
                  <img alt="Ảnh 1" class="rounded-lg d-block "
                       src="https://imagemanga.blob.core.windows.net/assets/picture1.jpg">
                </div>
              </div>
            </div>

          </div>
          <div class="carousel-inner p-8">
            <div class="carousel-item active">
              <div class="row flex justify-between">
                <div class="col-6">
                  <img alt="Ảnh 1"
                       class="rounded-lg d-block "
                       src="https://jumpg-assets.tokyo-cdn.com/secure/featured_top_banner/374218.jpg?hash=MEQM3_PMZQYM416Kuz8ZRg&expires=2145884400">
                </div>
                <div class="col-6">
                  <img alt="Ảnh 1"
                       class="rounded-lg d-block "
                       src="https://jumpg-assets.tokyo-cdn.com/secure/featured_top_banner/373978.jpg?hash=UgR5PxRWRPTCK4glN0VtHw&expires=2145884400">
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Lớp phủ màu đen -->
  <div class="absolute bg-black w-full h-full opacity-75 top-0 left-0 z-10"></div>

  <!-- Hộp "Login" nằm trên lớp phủ -->
  <div class="w-full h-full flex justify-center items-center relative z-20 pb-100">
    <div class="w-500 cl-blue rounded-sm py-4">
      <div class="flex justify-between items-center">
        <p class="font-bold cl-yellow text-xl p-4">Đăng nhập nnnn</p>
        <img (click)="goToIndex()" alt="Icon" class="p-4"
             src="https://imagemanga.blob.core.windows.net/assets/iconx.png">
      </div>
      <div class="px-4">
        <p class="text-white font-bold text-xl">Địa Chỉ Email</p>
        <input class="text-white w-full p-1 rounded-sm mt-2 cl-blue1" id="exampleInput" placeholder="something@email.com"
               type="text">
      </div>
      <div class="px-4">
        <div class="flex justify-between items-center mt-2">
          <p class="text-white font-bold text-xl">Mật Khẩu</p>
          <div class="flex">
            <p (click)="goToForgotpassword()" class="text-white cursor-pointer underline">Quên mật khẩu</p>
            <p class="px-1 text-white">/</p>
            <p (click)="goToUpdatepassword()" class="text-white cursor-pointer underline">Đổi mật khẩu</p>
          </div>
        </div>
        <input class="text-white w-full p-1 rounded-sm mt-2 cl-blue1" id="exampleInputs" placeholder="Mật khẩu của bạn"
               type="password">
      </div>
      <div class="container p-4">
        <button class="btn btn-primary w-full font-weight-bold">Đăng nhập</button>
      </div>
      <div class="text-center">
        <p class="text-white font-bold">Đăng ký tại đây</p>
        <p (click)="goToRegister()" class="text-white text-sm underline p-1 hover:bg-blue-800">*Tạo tài khoản với
          MangaPlus</p>
      </div>
      <div class="flex justify-between items-center">
        <div class="border-t border-blue-500 h-1 w-full m-4"></div>
        <p class="text-blue-500">or</p>
        <div class="border-t border-blue-500 h-1 w-full m-4"></div>
      </div>
      <div class="container px-4 m-2">
        <button class="btn btn-danger w-full font-weight-bold flex items-center">
          <img alt="Google Icon" class="mr-2" src="https://imagemanga.blob.core.windows.net/assets/google.png"/>
          <span class="flex-grow text-center">Đăng nhập với Google</span>
        </button>
      </div>
      <div class="container px-4 m-2">
        <button class="btn btn-primary w-full font-weight-bold flex items-center">
          <img alt="Facebook Icon" class="mr-2" src="https://imagemanga.blob.core.windows.net/assets/facebook.png"/>
          <span class="flex-grow text-center">Đăng nhập với FaceBook</span>
        </button>
      </div>
      <div class="container px-4 m-2">
        <button class="btn btn-primary w-full font-weight-bold flex items-center">
          <img alt="Twitter Icon" class="mr-2" src="https://imagemanga.blob.core.windows.net/assets/twitter.png"/>
          <span class="flex-grow text-center">Đăng nhập với Twitter</span>
        </button>
      </div>
      <div class="container px-4 m-2">
        <button class="btn btn-success bg-gray-400 w-full font-weight-bold flex items-center">
          <img alt="Microsoft Icon" class="mr-2"
               src="https://imagemanga.blob.core.windows.net/assets/icons8-microsoft-20.png"/>
          <span class="flex-grow text-center">Đăng nhập với Microsoft</span>
        </button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
