.w-500 {
  width: 650px;
}

.bg-img {
  background-image: url(https://mangaimg.blob.core.windows.net/assets/imgloggin.jpg);
}

.cl-blue {
  background-color: #283257;
}

.cl-yellow {
  color: #f0af30;
}

.cl-blue1 {
  background-color: #141a31;
}

.cl-blufacebook {
  background-color: #3c568f;
}

.pb-100 {
  padding-bottom: 200px;
}
