<div>
<div>

  <div class="relative">
    <div class="absolute">
      <div class="bg-black bg-opacity-80">
        <div class="carousel slide pb-5" data-interval="3000" data-ride="carousel" id="carouselExample">
          <div class="carousel-inner bg-black p-4">
            <div class="carousel-item active">
              <div class="row flex items-center">
                <div class="col-3">
                  <img alt="Ảnh 1" class="rounded-lg d-block"
                       src="https://jumpg-assets.tokyo-cdn.com/secure/featured_top_banner/374317.jpg?hash=ITsbsTHxkrrI-59xa_IlvQ&expires=2145884400">
                </div>
                <div class="col-6">
                  <img alt="Ảnh 2" class="rounded-lg d-block"
                       src="https://jumpg-assets.tokyo-cdn.com/secure/featured_top_banner/373105.jpg?hash=4Zxneh_mROs2MaV5rE1xsQ&expires=2145884400">
                </div>
                <div class="col-3">
                  <img alt="Ảnh 3" class="rounded-lg d-block"
                       src="https://imagemanga.blob.core.windows.net/assets/picture1.jpg">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row flex justify-between">
                <div class="col-6">
                  <img alt="Ảnh 4" class="rounded-lg d-block"
                       src="https://jumpg-assets.tokyo-cdn.com/secure/featured_top_banner/374218.jpg?hash=MEQM3_PMZQYM416Kuz8ZRg&expires=2145884400">
                </div>
                <div class="col-6">
                  <img alt="Ảnh 5" class="rounded-lg d-block"
                       src="https://jumpg-assets.tokyo-cdn.com/secure/featured_top_banner/373978.jpg?hash=UgR5PxRWRPTCK4glN0VtHw&expires=2145884400">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="absolute w-full h-full bg-black opacity-25 fixed top-0 left-0 z-10"></div>
      </div>
    </div>

    <div class="relative top-0 left-0 right-0 z-10 flex justify-end h-full p-100">
      <div class="bg-white w-500 rounded-xl mt-2 pb-8">
        <div class="rounded-t-lg flex justify-between bg-gradient-to-r from-blue-800 to-gray-500 px-4">
          <p class="text-2xl text-white font-bold m-1">Thông báo</p>
          <p (click)="goToIndex()" class="p-2 bg-blue-500 font-bold text-white" id="outupdateuser">Thoát</p>
        </div>
        <div class="text-lg font-bold text-center w-full border-b border-gray-500 p-1">Danh sách thông báo</div>
        <div class="flex justify-between p-1 text-blue-500">
          <p class="font-bold mx-2 text-black">Mới nhất</p>
          <p class="underline hover:text-blue-500">Tắt toàn bộ thông báo</p>
        </div>
        <div class="flex justify-center p-1 text-blue-500 hover:text-blue-500">
          Xóa tất cả thông báo
        </div>
        <div *ngFor="let combinedData of ListcombinedData">
          <p
            class="text-sm text-white px-2 w-full bg-gradient-to-r from-blue-500 to-white">{{ combinedData.Notification?.time | date:'HH:mm dd/MM/yyyy' }}</p>
          <div class="flex p-2 w-full hover:bg-gray-300">
            <div class="flex justify-center items-center">
              <div class="h-16 w-16 rounded-full overflow-hidden border">
                <img alt="User Avatar" class="h-full w-full p-1 object-cover"
                     src="{{combinedData.InfoAccount?.cover_img}}">
              </div>
            </div>
            <div class="flex flex-wrap ml-2">
              <p class="font-bold text-red-500 text-sm">{{ combinedData.InfoAccount?.name }}
                : {{ combinedData.Notification?.type_Noti }}</p>
              <p class="text-sm mx-1">{{ combinedData.Notification?.content }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
