<div>
  <div>

    <div class="relative">
      <div class="absolute">
        <div class="bg-black bg-opacity-80">
          <div class="carousel slide pb-5" data-interval="3000" data-ride="carousel" id="carouselExample">
            <div class="carousel-inner bg-black p-4">
              <div class="carousel-item active">
                <div class="row flex items-center">
                  <div class="col-3">
                    <img alt="Ảnh 1" class="rounded-lg d-block"
                         src="https://jumpg-assets.tokyo-cdn.com/secure/featured_top_banner/374317.jpg?hash=ITsbsTHxkrrI-59xa_IlvQ&expires=2145884400">
                  </div>
                  <div class="col-6">
                    <img alt="Ảnh 2" class="rounded-lg d-block"
                         src="https://jumpg-assets.tokyo-cdn.com/secure/featured_top_banner/373105.jpg?hash=4Zxneh_mROs2MaV5rE1xsQ&expires=2145884400">
                  </div>
                  <div class="col-3">
                    <img alt="Ảnh 3" class="rounded-lg d-block"
                         src="https://mangaimg.blob.core.windows.net/assets/picture1.jpg">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row flex justify-between">
                  <div class="col-6">
                    <img alt="Ảnh 4" class="rounded-lg d-block"
                         src="https://jumpg-assets.tokyo-cdn.com/secure/featured_top_banner/374218.jpg?hash=MEQM3_PMZQYM416Kuz8ZRg&expires=2145884400">
                  </div>
                  <div class="col-6">
                    <img alt="Ảnh 5" class="rounded-lg d-block"
                         src="https://jumpg-assets.tokyo-cdn.com/secure/featured_top_banner/373978.jpg?hash=UgR5PxRWRPTCK4glN0VtHw&expires=2145884400">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="absolute w-full h-full bg-black opacity-25 fixed top-0 left-0 z-10"></div>
        </div>
      </div>

      <div class="relative top-0 left-0 right-0 z-10 flex justify-end h-full p-100">
        <div class="bg-white w-500 rounded-xl mt-2 pb-8">
          <div class="rounded-t-lg flex justify-between bg-gradient-to-r from-blue-800 to-gray-500 px-4">
            <p class="text-2xl text-white font-bold m-1">Thông báo</p>
            <p (click)="goToIndex()" class="p-2 bg-blue-500 font-bold text-white" id="outupdateuser">Thoát</p>
          </div>
          <div class="text-lg font-bold text-center w-full border-b border-gray-500 p-1">Danh sách thông báo</div>
          <div class="flex justify-between p-1 text-blue-500">
            <p class="font-bold mx-2 text-black">Mới nhất</p>
            <p class="underline hover:text-blue-500">Tắt toàn bộ thông báo</p>
          </div>
          <div class="flex justify-center p-1 text-blue-500 hover:text-blue-500">
            Xóa tất cả thông báo
          </div>
          <div *ngFor="let combinedData of ListcombinedData" class="p-2">
            <div class="flex p-2 w-full rounded-l-xl hover:bg-gray-300">

              <div class="h-14 w-14 bg-white rounded-full overflow-hidden border">
                <img alt="Avatar" class="h-14 w-14 p-0 object-cover flex" src="{{combinedData.InfoAccount?.cover_img}}">
              </div>

              <div class=" ml-2">
                <div class="font-bold  text-sm"> {{ combinedData.InfoAccount?.name }}</div>
                <div class="font-bold text-blue-500 text-sm">{{ combinedData.Mangainfo?.name }}
                  {{ combinedData.Notification?.type_Noti }}
                </div>
                <div class="text-sm">{{ combinedData.Notification?.content }}</div>
                <div class="text-sm text-blue-500">{{ combinedData.Notification?.time | date:'HH:mm dd/MM/yyyy' }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
