.input-transition {
  transition: width 0.3s ease;
}

.w-220 {
  width: 220px;
}

.w-360 {
  width: 360px;
}

.w-70 {
  width: 70px;
}

.selected {
  color: rgb(245, 158, 11);
}

.white-icon {
  filter: brightness(0) invert(1);
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.description {
  font-size: 1.5rem;
}

@media (max-device-width: 2440px) {
  .coverImg {
    width: 22%;
    transform: translate(10%, 25%);
  }
  .activeButton {
    width: 16.6%;
    transform: translate(150%, 0%);
    z-index: 10;
  }
  .fullScreen {
    min-height: 100vh;
  }
  .mangaTitle {
    font-size: 7rem;
    line-height: 1;
  }
  .textCate{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .infoManga{
    width: 60%;
    transform: translate(5%, 17%);
  }
  .cateInImg{
    display: flex;
    flex-wrap: wrap;
  }
  .cateOutImg{
    display: none;
  }
  .cateMobile{
    display: none;
  }
}

@media(max-device-width: 1024px){
  .coverImg {
    width: 33%;
  }
  .activeButton {
    width: 20%;
    transform: translate(190%, 0%);
    z-index: 10;
  }
  .fullScreen {
    min-height: 100vh;
  }
  .cateInImg{
    display: flex;
    flex-wrap: wrap;
  }
  .mangaTitle {
    font-size: 7rem;
    line-height: 1;
  }
  .textCate{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .cateOutImg{
    display: none;
  }
  .cateMobile{
    display: none;
  }
}

@media (max-device-width: 480px) {
  .coverImg {
    width: 50%;
    transform: translate(10%, 20%);
  }
  .activeButton {
    width: 22%;
    transform: translate(250%, -10%);
    z-index: 10;
  }
  .mangaTitle {
    font-size: 6rem;
    line-height: 1;
  }
  .fullScreen {
    min-height: 83.2vh;
  }
  .infoManga{
    width: 40%;
    transform: translate(10%, 15%);
  }
  .cateInImg{
    display: none;
  }
  .cateOutImg{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
    padding-left: 1rem;
  }
  .textCate{
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
  .cateMobile{
    display: block;
  }
}
