<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"/>
</head>
<style>
  .h-30 {
    height: 60px;
  }

  .h200 {

    height: 200px;
  }

  .w-500 {
    width: 500px;
  }

  .w-1000 {
    width: 1000px;
  }

  .h-50 {
    height: 50px;
  }


</style>


<body class="bg-white relative">
<div class="row">
  <div class="p-4 col-2 bg-white  ">
    <div class=" rounded-xl flex justify-center items-center bg-white ">
      <img (click)="goToIndex()" alt="Logo"
           class="h-30 p-1" src="https://mangaplus.shueisha.co.jp/img/web_logo_190118_light-txt.06756983.png">
    </div>
    <ul>
      <li class="font-bold text-sm  text-center">Quản lý đọc truyện</li>
      <ul class="flex mt-8 mx-2">
        <img class="h-4 mt-1" src="https://imagemanga.blob.core.windows.net/assets/icons8-home-20.png">
        <li (click)="goToIndex()" class="font-bold text-center mx-2 ">Trang chính</li>
      </ul>
      <ul>
        <h1 (click)="goTomanager()" class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
            id="manageStories">
          Quản lý truyện</h1>

      </ul>
      <ul>
        <h1 (click)="goToacount()" class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
            id="manageStories1">
          Quản lý tài khoản</h1>
      </ul>
      <ul>
        <h1 (click)="goToComment()" class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
            id="manageStories2">
          Quản lý bình luận</h1>

      </ul>
      <h1 (click)="goTostatiscal()" class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
          id="manageStories2">
        Thống kê
      </h1>
      <h1 (click)="goToBanner()" class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
          id="manageStories4">
        Quản lý Banner
      </h1>
    </ul>
  </div>

  <div class="col-10 bg-white border border-black">
    <div class="p-2 border-b boder-gray-500">
      <div class="flex row ">
        <p class=" col-4  font-bold text-xl "> Quản lý truyện </p>
        <div class="col-7">
          <input aria-label="Tìm kiếm truyện" class=" form-control me-2" placeholder="Tìm kiếm truyện..." type="search">
        </div>
      </div>
    </div>
    <div>
      <div class="flex items-end justify-end p-1 bg-white border-b boder-gray-500 ">
        <div class="border-2 border-yello text-yello p-1 px-2 mx-3 font-bold rounded-full w-auto">
          Lọc truyện
        </div>
      </div>
      <div class="flex items-end justify-end p-2 bg-white  border-b boder-gray-500 ">
        <div class="btn-warning border-2 border-yellow-200 flex  p-1  rounded-full mx-2" id="buttonbrowse">
          <img class="h-6" src="https://imagemanga.blob.core.windows.net/assets/icons8-done-48.png">
          <p class="font-bold text-white">Duyệt truyện</p>
        </div>
        <div class="btn-success border-2 border-green-200 flex  p-1  rounded-full mx-2" id="buttonAdd">
          <img class="h-6" src="https://imagemanga.blob.core.windows.net/assets/icons8-plus-20.png">
          <p class="font-bold"> Thêm Truyện</p>
        </div>
      </div>
      <div class="p-2 flex flex-wrap  bg-white ">

        <div class="p-1 m-4 hover:bg-gray-200 flex  rounded-lg  border-2 border-yello">
          <img class="h200 rounded-lg" src="https://imagemanga.blob.core.windows.net/assets/book1.jpg">
          <div>
            <p class="font-bold text-lg px-1"> Abiss age meo meo meo</p>
            <p class="text-sm px-1"> emi fukada</p>
            <div>
              <div>
                <div class="flex">
                  <div class=" btn-success border-2 border-green-500 text-sm  p-1 m-1 font-bold rounded-full">
                    Sửa truyện
                  </div>
                  <div class="btn-warning border-2 text-white  text-sm p-1 m-1 font-bold rounded-full" id="addchapter">
                    Thêm chương
                  </div>
                </div>
                <div class="flex">
                  <div class="btn-danger border-2 border-red-500 text-sm p-1 m-1 font-bold rounded-full">
                    Xóa truyện
                  </div>
                  <div class=" btn-primary border-2  text-sm  p-1 m-1 font-bold rounded-full" id="DeleteChap">
                    Xóa chương
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- them -->
<div class="hidden" id="overlay">
  <div class="bg-black w-full h-full opacity-75 fixed top-0 left-0 z-10"></div>
  <div class="absolute top-12 left-0 right-0 z-10 p-4  flex justify-center">
    <div class="bg-white  rounded-xl ">
      <div class="flex justify-between  ">
        <p class="p-2 text-xl font-bold mx-4"> Thêm Truyện </p>
        <p class="p-2 bg-red-500 font-bold mx-4 text-white" id="out"> Thoát </p>
      </div>
      <div class="p-4">
        <input class="form-control p-3 w-500 m-2 " placeholder="Tên truyện" type="text">
        <input class="form-control p-3 w-500 m-2 " placeholder="Tác giả" type="text">

        <div class="p-2">
          <P> Thể loại</P>
          <div class="flex">
            <input class="my-1" type="checkbox">
            <p>Tiểu thuyết</p>
          </div>
        </div>

        <form class="bg-white p-2 m-2 rounded shadow-md " id="uploadForm">
          <input accept="image/*" class="mb-4" id="fileInput" required type="file">
          <img alt="Hình ảnh xem trước" class="mt-4 hidden" id="preview" src="">
        </form>
        <button class="btn-primary p-2 rounded-xl w-full"> Thêm truyện</button>
      </div>
    </div>
  </div>
</div>


<!-- Duyệt truyện -->
<div class="hidden" id="browse">
  <div class="bg-black w-full h-full opacity-75 fixed top-0 left-0 z-10"></div>
  <div class="absolute top-12 left-0 right-0 z-10 p-4  flex justify-center">
    <div class="bg-white w-1000 rounded-xl">
      <div class="flex justify-between  ">
        <p class="p-2 text-xl font-bold mx-4"> Duyệt Truyện </p>
        <p class="p-2 bg-red-500 font-bold mx-4 text-white" id="outs"> Thoát </p>
      </div>
      <div class="bg-white p-2">
        <div class="  hover:bg-gray-400 w-full  rounded-lg">
          <div class=" flex p-2 items-center">
            <div>
              <img alt="Chapter Image" class=" rounded-lg h-24"
                   src="https://imagemanga.blob.core.windows.net/assets/book1.jpg">
            </div>
            <div class="row">
              <div class="col-10 flex flex-wrap items-center">
                <p class="p-2 border-r border-black">Tên manga:xxxx</p>
                <p class="p-2 border-r border-black">Tác giả:xxxx</p>
                <p class="p-2 border-r border-black">Số chương:xxxx</p>
                <p class="p-2 border-r border-black">Tác giả:xxxx</p>
                <p class="p-2 border-r border-black">Mã người đăng :xxxxxxxxxx</p>
              </div>
              <div class="col-2">
                <div class="btn-primary h-8 text-white  text-sm p-1 m-1 font-bold rounded-lg">
                  Duyệt
                </div>
                <div class="btn-danger h-8 text-white  text-sm p-1 m-1 font-bold rounded-lg w-auto">
                  Không duyệt
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--thêm chap-->
<div class="hidden" id="AddChap">
  <div class="bg-black w-full h-full opacity-75 fixed top-0 left-0 z-10"></div>
  <div class="absolute top-12 left-0 right-0 z-10 p-4  flex justify-center">
    <div class="bg-white  rounded-xl ">
      <div class="flex justify-between  ">
        <p class="p-2 text-xl font-bold mx-4"> Thêm Chương Truyện </p>
        <p class="p-2 bg-red-500 font-bold mx-4 text-white" id="outchap"> Thoát </p>
      </div>
      <P class="text-center"> Tên truyện : xxxxxxxx</P>
      <div class="p-4">
        <input class="form-control p-3 w-500 m-2 " placeholder="Tên chương" type="text">
        <input class="form-control p-3 w-500 m-2 " placeholder="Đường dẫn đến kho ảnh truyện" type="text">

        <button class="btn-primary p-2 rounded-xl w-full"> Thêm chương</button>
      </div>
    </div>
  </div>
</div>
<!--sửa chương-->
<div class="hidden" id="deletechapter">
  <div class="bg-black w-full h-full opacity-75 fixed top-0 left-0 z-10"></div>
  <div class="absolute top-12 left-0 right-0 z-10 p-4  flex justify-center">
    <div class="bg-white w-1000 rounded-xl">
      <div class="flex justify-between  ">
        <p class="p-2 text-xl font-bold mx-4"> Xóa chương </p>
        <p class="p-2 bg-red-500 font-bold mx-4 text-white" id="outdeletechapter"> Thoát </p>
      </div>
      <div class="bg-white p-2">
        <div class="  hover:bg-gray-400 w-full  rounded-lg">
          <div class=" flex p-2 items-center">
            <div>
              <img alt="Chapter Image" class=" rounded-lg h-24"
                   src="https://imagemanga.blob.core.windows.net/assets/book1.jpg">
            </div>
            <div class="row">
              <div class="col-10 flex flex-wrap items-center">
                <p class="p-2 border-r border-black">Tên chương:xxxx</p>
              </div>
              <div class="col-2">
                <div class="btn-danger h-8 text-white text-center  text-sm p-1 m-1 font-bold rounded-lg w-24">
                  Xóa chương
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
