.h-30 {
  height: 60px;
}

.h200 {

  height: 200px;
}
.text-smm{
  font-size: 10px;
}
.h225{
  height: 240px;
}

.w-500 {
  width: 500px;
}
.w-400{
  width: 400px;
}

.w-1000 {
  width: 1000px;
}

.h-50 {
  height: 50px;
}

