<div>
  <div class="container-fluid h-1 p-0 bg-gradient-to-r from-blue-800 to-gray-500"></div>
  <div class="bg-gradient-to-b from-black to-blue-500" id="below">
    <div class="border-b border-gray-500 mx-2">
      <div class="flex items-center justify-center p-4">
        <img class="h-20" src="https://imagemanga.blob.core.windows.net/assets/app_icon.919a13c7.png">
        <p class="font-bold text-white m-2">Đem đến trang truyện chất lượng</p>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <img class="m-2 bg-white rounded-full p-1" src="https://imagemanga.blob.core.windows.net/assets/iconface.png">
    </div>
    <div class="flex items-center justify-center">
      <p class="text-white m-4 text-sm">Hổ trợ</p>
      <p class="text-white m-4 text-sm">Tin tức sự kiện</p>
      <p class="text-white m-4 text-sm">Chính sách bảo mật</p>
      <p class="text-white m-4 text-sm">Điểu khoản dịch vụ</p>
      <p class="text-white m-4 text-sm">Xếp hạng nội dung</p>
      <p class="text-white m-4 text-sm">Bảng quyền</p>
      <p class="text-white m-4 text-sm">Nguyên tắc cộng đồng</p>
    </div>
    <div class="text-white font-bold p-8 flex items-center justify-center text-2xl">
      DESIGN BY NCT
    </div>
  </div>
</div>
