.input-transition {
  transition: width 0.3s ease;
}

.w-220 {
  width: 220px;
}

.input-transition {
  transition: width 0.3s ease;
}

.w-220 {
  width: 220px;
}

.w-70 {
  width: 70px;
}

.mrr {
  margin-right: 20%
}

.mll {
  margin-left: 20%
}

.w-70 {
  width: 70px;
}

.mrr {
  margin-right: 20%
}

.mll {
  margin-left: 20%
}
