<div>
  <div class="row h-full w-full ">

    <div class=" col-2 bg-zinc-900">
      <div class="mt-4 ml-6">
        <img (click)="goToIndex()" alt="Logo"
             class="h-24 p-1" src="https://mangaimg.blob.core.windows.net/assets/logo4.png">
      </div>
      <ul>
        <ul class="flex mt-8 mx-2">
          <li (click)="goToIndex()" class="font-bold text-center mx-2  text-gray-100">Trang chính</li>
        </ul>
        <ul>
          <h1 (click)="goToManager()"
              class="text-sm text-gray-100 cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
              id="manageStories">
            Quản lý truyện</h1>

        </ul>
        <ul>
          <h1 (click)="goToAccount()"
              class="text-sm text-gray-100 cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
              id="manageStories1">
            Quản lý tài khoản</h1>
        </ul>
        <ul>
          <h1 (click)="goToComment()"
              class="text-sm text-gray-100 cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
              id="manageStories2">
            Quản lý bình luận</h1>

        </ul>
        <ul>
          <h1 (click)="goToStatiscal()"
              class="text-sm text-yellow-500 cursor-pointer font-bold p-1 border-l-2 border-yellow-500 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
              id="manageStories3">
            Thống kê
          </h1>
        </ul>
        <ul>
          <h1 (click)="goToBanner()"
              class="text-sm text-gray-100 cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
              id="manageStories4">
            Quản lý Banner
          </h1>
        </ul>
      </ul>
    </div>


    <div class="col-10 bg-zinc-600 border border-black">
      <div class="p-2 border-b border-gray-500">
        <div class="flex row">
          <p class="col-4 font-bold text-xl text-gray-100">Thống kê truyện</p>

        </div>
      </div>
      <div class="container mx-auto p-6">
        <h1 class="text-2xl font-bold mb-4 text-gray-100">Thống Kê Truyện</h1>

        <div class="grid grid-cols-3 gap-4">
          <div class="bg-zinc-500 rounded-lg shadow p-4">
            <h2 class="text-lg font-semibold text-gray-100">Tổng Lượt Đọc</h2>
            <p class="text-3xl font-bold text-blue-600 text-gray-100">1,250,111</p>
          </div>
          <div class="bg-zinc-500 rounded-lg shadow p-4">
            <h2 class="text-lg font-semibold text-gray-100">Số Truyện</h2>
            <p class="text-3xl font-bold text-green-600">150</p>
          </div>
          <div class="bg-zinc-500 rounded-lg shadow p-4">
            <h2 class="text-lg font-semibold text-gray-100">Thể Loại Phổ Biến</h2>
            <p class="text-3xl font-bold text-red-600">Hành Động</p>
          </div>
        </div>
        <div class="Statistical row">
          <div class="col-8">
            <h2 class="text-lg font-semibold mb-2 mt-4 text-gray-100"> Truyện có lượt đọc cao nhất</h2>
            <div class="flex justify-end my-2">
              <div class="mx-2">
                <select class="border border-gray-300 rounded-full p-2 w-full " id="myComboBox">
                  <option disabled selected value="">Lọc theo</option>
                  <option value="type">Thể loại</option>
                  <option value="year">Năm</option>
                  <option value="month">Tháng</option>
                  <option value="week">Tuần</option>
                </select>
              </div>

              <div class="hidden mb-4" id="yearSelection">
                <select class="border border-gray-300 rounded-full p-2 w-full">
                  <option disabled selected value="">Chọn Năm</option>
                  <option value="2023">2023</option>
                  <option value="2022">2022</option>
                  <option value="2021">2021</option>
                </select>
              </div>
              <div class="hidden mb-4" id="typeSelection">
                <select class="border border-gray-300 rounded-full p-2 w-full">
                  <option disabled selected value="">Chọn Loại</option>
                  <option value="2023">Tình cảm</option>
                  <option value="2022">viễng tưởng</option>
                  <option value="2021">Mecha</option>
                </select>
              </div>

              <div class="hidden mb-4" id="monthSelection">
                <select class="border border-gray-300 rounded-full p-2 w-full">
                  <option disabled selected value="">Chọn Tháng</option>
                  <option value="1">Tháng 1</option>
                  <option value="2">Tháng 2</option>
                  <option value="3">Tháng 3</option>
                  <option value="4">Tháng 4</option>
                  <option value="5">Tháng 5</option>
                  <option value="6">Tháng 6</option>
                  <option value="7">Tháng 7</option>
                  <option value="8">Tháng 8</option>
                  <option value="9">Tháng 9</option>
                  <option value="10">Tháng 10</option>
                  <option value="11">Tháng 11</option>
                  <option value="12">Tháng 12</option>
                </select>
              </div>

              <div class="hidden mb-4" id="weekSelection">
                <select class="border border-gray-300 rounded-full p-2 w-full">
                  <option disabled selected value="">Chọn Tuần</option>
                  <option value="1">Tuần 1</option>
                  <option value="2">Tuần 2</option>
                  <option value="3">Tuần 3</option>
                  <option value="4">Tuần 4</option>
                </select>
              </div>
            </div>
            <table class="min-w-full bg-zinc-600 border border-gray-300 rounded-lg">
              <thead>
              <tr>
                <th class="py-2 px-4 border-b text-sm text-gray-100 ">Thứ hạng</th>
                <th class="py-2 px-4 border-b text-sm text-gray-100 "></th>
                <th class="py-2 px-4 border-b text-sm text-gray-100 ">Tên truyện</th>
                <th class="py-2 px-4 border-b text-sm text-gray-100 ">lượt đọc</th>
                <th class="py-2 px-4 border-b text-sm text-gray-100 ">Sao đánh giá</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="  text-gray-100 py-2 px-4 border-b font-bold text-5xl text-red-500">1</td>
                <td class="  text-gray-100 py-2 px-4 border-b"><img alt="Chapter Image"
                                                                    class=" rounded-lg h-24 p-1"
                                                                    src="https://mangaimg.blob.core.windows.net/assets/book1.jpg">
                </td>
                <td class="  text-gray-100 py-2 px-4 border-b">Black clover</td>
                <td class="  text-gray-100 py-2 px-4 border-b">100.000.000</td>
                <td class="  text-gray-100 py-2 px-4 border-b">4.5/5</td>
              </tr>

              <tr>
                <td class="  text-gray-100 py-2 px-4 border-b font-bold text-5xl text-green-500">2</td>
                <td class="  text-gray-100 py-2 px-4 border-b"><img alt="Chapter Image"
                                                                    class=" rounded-lg h-24 p-1"
                                                                    src="https://mangaimg.blob.core.windows.net/assets/book1.jpg">
                </td>
                <td class="  text-gray-100 py-2 px-4 border-b">Black clover</td>
                <td class="  text-gray-100 py-2 px-4 border-b">100.000.000</td>
                <td class="  text-gray-100 py-2 px-4 border-b">4.5/5</td>
              </tr>
              </tbody>
            </table>


          </div>
          <div class="StaisticalType col-4">
            <div class="mt-6">
              <h2 class="text-lg font-semibold mb-2 text-gray-100">Thống Kê Theo Thể Loại</h2>
            </div>

            <div class="mt-6 ">
              <h2 class="text-lg font-semibold mb-2 text-gray-100">Chi Tiết Thể Loại</h2>
              <table class="min-w-full bg-zinc-600 border border-gray-300 rounded-lg">
                <thead>
                <tr>
                  <th class="py-2 px-4 border-b text-gray-100">Thể Loại</th>
                  <th class="py-2 px-4 border-b text-gray-100">Lượt Đọc</th>
                  <th class="py-2 px-4 border-b text-gray-100">Số Truyện</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="  text-gray-100 py-2 px-4 border-b">Hành Động</td>
                  <td class="  text-gray-100 py-2 px-4 border-b">500,000</td>
                  <td class="  text-gray-100 py-2 px-4 border-b">50</td>
                </tr>
                <tr>
                  <td class="  text-gray-100 py-2 px-4 border-b">Khoa Học Viễn Tưởng</td>
                  <td class="  text-gray-100 py-2 px-4 border-b">300,000</td>
                  <td class="  text-gray-100 py-2 px-4 border-b">30</td>
                </tr>
                <tr>
                  <td class="  text-gray-100 py-2 px-4 border-b">Tình Cảm</td>
                  <td class="  text-gray-100 py-2 px-4 border-b">200,000</td>
                  <td class="  text-gray-100 py-2 px-4 border-b">40</td>
                </tr>
                <tr>
                  <td class="  text-gray-100 py-2 px-4 border-b">Hài Hước</td>
                  <td class="  text-gray-100 py-2 px-4 border-b">250,000</td>
                  <td class="  text-gray-100 py-2 px-4 border-b">20</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
