<div class="bg-gray-950 fullScreen">
  <div class="bg-gray-950 fullScreen">
    <div class="flex items-center justify-between bg-gradient-to-r from-gray-950 to-gray-600">
      <div class="p-2 flex">
        <div class="flex">
          <img class="h-10 mt-1" loading="lazy" src="https://manga1337.blob.core.windows.net/assets/icon_heart.png">
          <p class="text-white font-bold text-2xl p-2">Truyện yêu thích</p>
        </div>
      </div>
    </div>
    <div class="bg-gray-950 shadow-md flex-grow">
      <div class="p-2 flex flex-wrap justify-center">
        <div *ngFor="let manga of mangas | paginate: { itemsPerPage: itemsPerPage, currentPage: page }"
             class="w-64 bg-gradient-to-b from-black to-gray-500 rounded-xl overflow-hidden m-3 transition-transform transform hover:scale-105 cursor-pointer">
          <img (click)="viewMangaDetails(manga.id_manga)" [attr.title]="manga.name + ' \n' + manga.describe"
               [src]="manga.cover_img"
               alt="Image description"
               class="w-full h-5/6 object-cover rounded-t-xl"
               loading="lazy">
          <div class="p-1">
            <div class="flex justify-between p-1">
              <p class="text-white font-bold text-xl truncate mb-0 manga-name">{{ manga.name }}</p>
              <div class="flex p-1">
                <img (click)="removeFromFavorites(manga.id_manga)" [attr.title]="'Bỏ yêu thích'" alt="" class="h-7 px-1"
                     loading="lazy"
                     src="https://manga1337.blob.core.windows.net/assets/icon_heart.png">
                <img (click)="toggleNotification(manga.id_manga)"
                     [attr.title]="manga.is_notification ? 'Tắt thông báo' : 'Bật thông báo'"
                     [ngClass]="{'active': !manga.is_notification}"
                     alt="Notification Icon"
                     class="h-7 px-1 cursor-pointer notification-icon"
                     loading="lazy"
                     src="https://manga1337.blob.core.windows.net/assets/icons8-bell-30.png">
              </div>
            </div>
            <p class="text-white text-sm mb-1 px-1">{{ manga.author }}</p>
          </div>
        </div>
      </div>
      <!--Pagination-->
      <div *ngIf="mangas.length > itemsPerPage" class="flex justify-center mt-4">
        <pagination-controls
          (pageChange)="onPageChange($event)"
          [autoHide]="false"
          [directionLinks]="true"
          [maxSize]="5"
          class="pagination custom-pagination text-white font-semibold text-md space-x-2"
          nextLabel=""
          previousLabel="">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
