<div>
  <div class="bg-gradient-to-b from-black to-blue-500" id="below">
    <div class="border-b border-gray-500 mx-2">
      <div class="flex items-center justify-center p-4">
        <img alt="App Icon" class="h-20" loading="lazy"
             src="https://manga1337.blob.core.windows.net/assets/app_icon.919a13c7.png">
        <p class="font-bold text-white m-2">Đem đến trang truyện chất lượng</p>
      </div>
    </div>

    <div class="flex items-center justify-center">
      <img alt="Facebook Icon" class="m-2 bg-white rounded-full p-1" loading="lazy"
           src="https://manga1337.blob.core.windows.net/assets/iconface.png">
      <img alt="Messenger Icon" class="m-2 bg-white rounded-full p-1" loading="lazy"
           src="https://manga1337.blob.core.windows.net/assets/iconmess.png">
    </div>

    <div class="flex items-center justify-center">
      <p class="text-white m-4 text-sm">Hỗ trợ</p>
      <p class="text-white m-4 text-sm">Tin tức và sự kiện</p>
      <p class="text-white m-4 text-sm">Chính sách bảo mật</p>
      <p class="text-white m-4 text-sm">Điều khoản dịch vụ</p>
      <p class="text-white m-4 text-sm">Xếp hạng nội dung</p>
      <p class="text-white m-4 text-sm">Bản quyền</p>
      <p class="text-white m-4 text-sm">Nguyên tắc cộng đồng</p>
    </div>
  </div>
</div>
