<div class="bg-gray-500">

  <div class="flex items-center justify-between">
    <div class="bg-gradient-to-r from-black to-gray-500 p-3 flex">
      <div class="flex">
        <img class="h-11" src="https://imagemanga.blob.core.windows.net/assets/icons8-history-100.png">
        <P class=" text-white font-bold text-xl p-2 ">Lịch sử đọc</P>
      </div>
    </div>

  </div>
  <div class="bg-gradient-to-r from-blue-800 to-gray-500">
    <h1 class="text-white font-bold text-xl py-2 px-4">Đã đọc gần đây</h1>
    <div *ngFor="let entry of combinedHistories" class="p-2 flex flex-wrap">
      <div class="w-330 bg-gradient-to-b from-black to-gray-500 rounded-xl overflow-hidden p-2 m-3">
        <!-- Manga.coverImg -->
        <img [src]="entry.manga.cover_img" alt="Image description" class="w-full h-auto rounded-t-xl">

        <div>
          <!-- Manga.name -->
          <p class="text-white font-bold text-lg">{{ entry.manga.name }}</p>
          <!-- history.index_chapter -->
          <p class="text-white text-sm">Chương: {{ entry.history.index_chapter }}</p>
          <!-- history.time -->
          <p class="text-white text-sm">Lần đọc cuối: {{ entry.history.time | date:'short' }}</p>
        </div>

        <div class="bg-black p-2 bg-gradient-to-r from-black to-gray-500 mt-2 flex justify-end">
          <p (click)="confirmDelete(entry.history.id_account, entry.manga.id_manga)"
             class="text-blue-500 font-bold m-1 cursor-pointer">
            Xóa khỏi lịch sử đọc
          </p>
        </div>

      </div>
    </div>
  </div>


</div>

