.w-330 {
  width: 220px;
}

.h-300 {
  height: 300px;
}

.manga-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.white-icon {
  filter: invert(100%) brightness(2);
}
