.w-330 {
  width: 220px;
}

.h-300 {
  height: 300px;
}

.manga-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination button:hover {
  background-color: #3B82F6;
  transform: translateY(-2px);
}

.pagination button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 15px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
