
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
</head>
<style>
    .h-30{
        height: 60px;
    }
    .h200{

        height: 200px;
    }
    .w-500{
        width: 500px;
    }
    .w-1000{
        width: 1000px;
    }
    .h-50{
       height: 50px;
    }
    .w-90{
        width: 90%;
    }


</style>


<body class="bg-white relative">
     <div class="row">
        <div class="p-4 col-2 bg-white  ">
            <div class=" rounded-xl flex justify-center items-center bg-white ">
                <img (click)="goToIndex()" class="h-30 p-1" src="https://mangaplus.shueisha.co.jp/img/web_logo_190118_light-txt.06756983.png" alt="Logo">
            </div>
            <ul>
                <li class="font-bold text-sm  text-center">Quản lý đọc truyện</li>
                <ul class="flex mt-8 mx-2">
                    <img class="h-4 mt-1" src="https://imagemanga.blob.core.windows.net/assets/icons8-home-20.png">
                    <li (click)="goToIndex()" class="font-bold text-center mx-2 ">Trang chính</li>
                </ul>
                <ul>
                    <h1 (click)="goTomanager()" id="manageStories" class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500">
                        Quản lý truyện</h1>

                </ul>
                <ul >
                    <h1   (click)="goToacount()" id="manageStories1" class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500">
                        Quản lý tài khoản</h1>
                </ul>
                <ul >
                    <h1 (click)="goToComment()" id="manageStories2" class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500">
                        Quản lý bình luận</h1>

                </ul>
                <h1   (click)="goTostatiscal()" id="manageStories3" class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500">
                    Thống kê
                </h1>

                <h1   id="manageStories4" class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500">
                    Quản lý Banner
                </h1>
            </ul>
        </div>

        <div class="col-10 bg-white border border-black">
            <div class="p-2 ">
                <div class="flex justify-between p-2 border-b boder-gray-500">
                    <p class="font-bold text-xl">Quản lý banner</p>

                </div>
                <div class="flex justify-between p-2 border-b boder-gray-500">
                    <p></p>
                    <button id="addBannerButton" class="btn-success px-3 font-bold py-1 rounded-2xl">Thêm +</button>
                </div>
            </div>
            <div>

                <div class="p-2  bg-white ">
                    <P class="text-xl font-bold"> Danh sách banner </P>
                    <div   class="flex flex-wrap justify-center">
                        <div *ngFor="let banner of banners" >
                        <div class=" bg-gray-200 rounded-xl p-2 m-4">
                            <img  class="h200 rounded-xl" [src]="banner.image_banner">
                            <p class="text-sm text-blue-500 font-bold"> Đừng dẫn trang truyện : {{banner.url_manga}}</p>
                            <p  class="text-sm text-blue-500 font-bold"> Ngày đăng : {{banner.datePosted}}</p>
                            <button (click)="delete(banner.id_Banner ?? -1)" class="btn-warning rounded-xl w-full mt-2"> Xóa </button>
                        </div>
                    </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
<!--thêm banner-->
<div id="AddBanner" class="hidden">
    <div class="bg-black w-full h-full opacity-75 fixed top-0 left-0 z-10"></div>
    <div  class="absolute top-12 left-0 right-0 z-10 p-4  flex justify-center">
        <div class="bg-white  rounded-xl ">
            <div class="flex justify-between  ">
                <p class="p-2 text-xl font-bold mx-4"> Thêm banner </p>
                <p id="outbanner" class="p-2 bg-red-500 font-bold mx-4 text-white"> Thoát </p>
            </div>

            <div class="p-4">
                <input #dataurl type="text" class="form-control p-3 w-500 m-2 " placeholder="Đường dẫn đến truyện của banner">

                <p class="px-2">Thêm ảnh</p>
                <form id="uploadForm" class="bg-white p-2 m-2 rounded shadow-md ">
                    <input #dataurlimg type="file" id="fileInput" accept="image/*" required class="mb-4" multiple>
                    <img id="preview" src="" alt="Hình ảnh xem trước" class="mt-4 hidden">
                </form>
                <button (click)=" adddata()" class="btn-primary p-2 rounded-xl w-full"> Thêm banner </button>
            </div>
        </div>
    </div>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
