<div class="bg-body relative">
  <div class="">
    <div class="p-2 flex bg-main">
      <div class=" rounded-xl flex justify-center items-center px-4">
        <img alt="Logo" class="h-30 p-1" src="https://mangaimg.blob.core.windows.net/assets/logo4.png">
      </div>
      <div class="flex w-full justify-between items-center p-2 ">
        <nav class="flex">
          <ul class="flex space-x-4">
            <h1 (click)="goToIndex()"
                class="text-sm text-white cursor-pointer font-bold p-1 border-b-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
                id="manageStories2">
              Về trang chính
            </h1>
          </ul>
        </nav>
        <div class=" items-center" id="manageStories1">
          <div class="h-14 w-14 bg-white rounded-full overflow-hidden border">
            <img alt="Avatar" class="h-full w-full object-cover" src="{{url}}">
          </div>
          <div class="text-white  text-sm text-center">{{ name }}</div>
        </div>
      </div>
    </div>

    <div class=" bg-blue-950 pl-2">
      <div class="p-2 border-b boder-gray-500 ">
        <div class="flex justify-between">
          <p class="   font-bold text-xl text-white "> Quản lý truyện của bạn </p>
          <div class="w-500">
            <input aria-label="Tìm kiếm truyện" class=" form-control me-2" placeholder="Tìm kiếm truyện..."
                   type="search">
          </div>
        </div>
      </div>
      <div>
        <div class="flex items-end justify-end p-2bg-blue-950  border-b boder-gray-500 ">
          <div
            class=" h-10 m-2   text-white hover:bg-green-900 bg-green-600 border-2 border-green-200 flex  p-2  rounded-full mx-2"
            id="buttonAdd">
            <img class="h-6 " src="https://mangaimg.blob.core.windows.net/assets/icons8-plus-20.png">
            <p class="font-bold text-white ml-1"> Thêm Truyện</p>
          </div>
        </div>
        <div class="p-2 flex flex-wrap bg-blue-950">
          <div *ngFor="let manga of mangas"
               class="p-1 m-4  text-white hover:bg-blue-900 flex rounded-lg border-2 border-yello">
            <div class="flex">

              <img [src]="manga.cover_img" class="h200 rounded-lg">

              <div>
                <p class="font-bold text-lg px-1 text-white"> {{ manga.name }}</p>
                <p class="text-sm px-1 text-white"> {{ manga.author }}</p>
                <div class="w-220">
                  <div class="flex">
                    <div (click)="toggleAddChap(manga.id_manga,manga.name)"
                         class="w-50 text-center  text-white hover:bg-gray-500
                   border-2 border-white text-sm p-1 m-1 font-bold rounded-full">
                      Thêm chương
                    </div>
                    <div (click)="toggleUpdateChap(manga.id_manga,manga.name)"
                         class="w-50 text-center  text-white hover:bg-gray-500 border-2 text-white text-sm p-1 m-1 font-bold rounded-full">
                      Sửa chương
                    </div>
                  </div>
                  <div class="flex">
                    <div (click)="toggleDeleteChap(manga.id_manga,manga.name)"
                         class="w-50 text-center border-2 border-white text-sm p-1 m-1 font-bold rounded-full">
                      Xóa chương
                    </div>
                    <div (click)=toggleUpdateManga(manga.id_manga,manga.name)
                         class="w-50 text-center text-white hover:bg-gray-500 border-2 text-sm p-1 m-1 font-bold rounded-full">
                      Sửa truyện
                    </div>
                  </div>
                  <div class="flex justify-center">
                    <div (click)="deleteManga(manga)"
                         class="w-50 text-center  text-white hover:bg-gray-500 border-2 border-white text-sm p-1 m-1 font-bold rounded-full">
                      Xóa truyện
                    </div>
                    <div id="confirmationModal" style="display:none;">
                      <p>Bạn có chắc chắn muốn xoá manga: <strong id="mangaName"></strong> không?</p>
                      <p>Sau khi xoá không thể hoàn tác!</p>
                      <button onclick="confirmDelete()">Xoá</button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sửa truyện -->
  <div class="hidden" id="updateManga">
    <div class="bg-black w-full h-full opacity-75 fixed top-0 left-0 z-10"></div>
    <div class="absolute top-12 left-0 right-0 z-10 p-4 flex justify-center">
      <div class="bg-white  h-main rounded-2xl">
        <div class="flex justify-between">
          <p class="p-2 text-xl font-bold mx-4">Sửa Truyện</p>
          <p (click)="toggleUpdateManga(0, '')" class="p-2 bg-red-500 font-bold mx-4 text-white">Thoát</p>
        </div>
        <form #form="ngForm" (ngSubmit)="onSubmitUpdate(form)">
          <div class="p-4">
            <input [(ngModel)]="mangaDetails.name" class="form-control p-3 w-500 m-2" name="name"
                   placeholder="Tên truyện" required type="text">
            <input [(ngModel)]="mangaDetails.author" class="form-control p-3 w-500 m-2" name="author"
                   placeholder="Tác giả" required type="text">
            <input [(ngModel)]="mangaDetails.describe" class="form-control p-3 w-500 m-2" name="describe"
                   placeholder="Mô tả" required type="text">
            <p>Thể loại</p>
            <div class="p-2  h-1/4 overflow-y-auto flex flex-wrap w-400">


              <div *ngFor="let category of categories" class="flex items-center w-44">
                <input (change)="onCategoryChange($event, category.id_category)"
                       [checked]="selectedCategories.includes(category.id_category)"
                       class="my-1"
                       type="checkbox">
                <p class="ml-2">{{ category.name }}</p>
              </div>

            </div>
            <form class="bg-white p-2 m-2 rounded shadow-md" id="uploadForm">
              <input (change)="onFileSelected($event)" accept="image/*" class="mb-4" id="fileInput" type="file">
            </form>
            <button [disabled]="!form.valid" class="btn btn-primary p-2 rounded-xl w-full" type="submit">Lưu</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--  Add manga-->
  <div class="hidden" id="overlay">
    <div class="bg-black w-full h-full opacity-75 fixed top-0 left-0 z-10"></div>
    <div class="absolute top-6 left-0 right-0 z-10 p-4  flex justify-center">
      <div class="bg-white rounded-2xl h-main">
        <div class="flex justify-between  ">
          <p class="p-2 text-xl font-bold mx-4"> Thêm Truyện </p>
          <p class="p-2 bg-red-500 font-bold mx-4 text-white" id="out"> Thoát </p>
        </div>
        <form #addForm="ngForm" (ngSubmit)="onSubmit(addForm)">
          <div class="p-4">
            <input class="form-control p-3 w-500 m-2 " name="name" ngModel placeholder="Tên truyện" required
                   type="text">
            <input class="form-control p-3 w-500 m-2 " name="author" ngModel placeholder="Tác giả" required
                   type="text">
            <input class="form-control p-3 w-500 m-2 " name="describe" ngModel placeholder="Mô tả" required
                   type="text">
            <div class="p-2">
              <p>Thể loại</p>
              <div class=" h-1/4 overflow-y-auto flex flex-wrap w-400">
                <div *ngFor="let category of categories" class="flex w-44">
                  <input (change)="onCategoryChange($event, category.id_category)"
                         [checked]="selectedCategories.includes(category.id_category)"
                         class="my-1"
                         type="checkbox">
                  <p class="m-2">{{ category.name }}</p>
                </div>
              </div>
            </div>
            <form class="bg-white p-2 m-2 rounded shadow-md " id="uploadForm">
              <input (change)="onFileSelected($event)" accept="image/*" class="mb-4" id="fileInput"
                     required type="file">
            </form>
            <button [disabled]="!addForm.valid || !selectedFile"
                    class=" text-white hover:bg-blue-900 bg-blue-600 p-2 rounded-xl w-full"
                    type="submit"> Thêm truyện
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--thêm chap-->
  <div class="hidden" id="AddChap">
    <div class="bg-black w-full h-full opacity-75 fixed top-0 left-0 z-10"></div>
    <div class="absolute top-12 left-0 right-0 z-10 p-4  flex justify-center">
      <div class="bg-white  rounded-xl ">
        <div class="flex justify-between">
          <p class="p-2 text-xl font-bold mx-4"> Thêm Chương Truyện </p>
          <p (click)="toggleAddChap(0,'')" class="p-2 bg-red-500 font-bold mx-4 text-white" id="outChap"> Thoát </p>
        </div>
        <p class="text-center">{{ selectedMangaName }}</p>
        <div class="p-4">
          <input [(ngModel)]="chapterName" class="form-control p-3 w-500 m-2" placeholder="Tên chương" type="text">
          <input [(ngModel)]="chapterIndex" class="form-control p-3 w-500 m-2" placeholder="Thứ tự chương" type="text">
          <p class="px-2">Thêm ảnh</p>
          <form class="bg-white p-2 m-2 rounded shadow-md" id="uploadForm">
            <input (change)="onFileChange($event)" accept="image/*" class="mb-4" id="fileInput" multiple required
                   type="file">
          </form>
          <button (click)="addChapter()" [disabled]="isAddingChapter"
                  class=" text-white hover:bg-blue-900 bg-blue-600 p-2 rounded-xl w-full">
            {{ isAddingChapter ? 'Xin chờ...' : 'Thêm chương' }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--xoa chương-->
  <div class="hidden" id="deleteChapter">
    <div class="bg-black w-full h-full opacity-75 fixed top-0 left-0 z-10"></div>
    <div class="absolute top-12 left-0 right-0 z-10 p-4 flex justify-center">
      <div class="bg-white w-[600px] rounded-xl">
        <div class="flex justify-between">
          <p class="p-2 text-xl font-bold mx-4">Xóa chương</p>
          <p (click)="toggleDeleteChap(0,'')" class="p-2 bg-red-500 font-bold mx-4 text-white cursor-pointer">Thoát</p>
        </div>
        <div class="bg-white p-2 ">
          <div class="flex flex-wrap">
            <div *ngFor="let chapter of chapters" class="flex flex-col w-full mb-2 border-b border-gray-300 pb-1">
              <p class="p-1 font-bold">Tên chương: {{ chapter.title }}</p>
              <p class="p-1">Thứ tự chương: {{ chapter.index }}</p>
              <div class="ml-auto flex items-center">
                <div (click)="deleteChapter(chapter.index)"
                     class="btn btn-danger text-white text-center text-sm p-1 m-1 font-bold rounded-lg cursor-pointer">
                  Xóa chương
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--xem thong tin-->
  <div class="hidden" id="user">
    <div class="bg-black w-full h-full opacity-25 fixed top-0 left-0 z-10"></div>
    <div class="absolute top-0 left-0 right-0 z-10  flex justify-end h-full">
      <div class="bg-white w-500 px-4">
        <div class="flex justify-end ">
          <p class="p-2 bg-red-500 font-bold text-white" id="outuser"> Thoát </p>
        </div>
        <div class=" flex flex-col items-center">
          <div class="p-2">
            <img alt="Person"
                 class="rounded-full border border-black w-24 h-24"
                 src="{{url}}">
          </div>
          <p class="font-bold text-blue-500">Account name : {{ name }}</p>

        </div>
        <div class="flex justify-between">
          <button class=" h-10 bg-blue-200 rounded-l-full p-1  w-full  "> Thông tin</button>
          <button class=" h-10 border border-gray-500  rounded-r-full p-1  w-full" id="updates"> Chỉnh sửa thông tin
          </button>
        </div>
        <div class="">
          <input class=" w-full border h-12 rounded-full p-2 my-2" id="readonly-input" placeholder="Tên : {{nameuser}}"
                 readonly
                 type="text">
          <input class=" w-full border h-12 rounded-full p-2 my-2" id="readonly-input" placeholder="Email :{{email}}"
                 readonly
                 type="text">

        </div>
        <button (click)="logOut()" class=" rounded-full text-white hover:bg-blue-900 bg-blue-600 p-2 w-full my-2"> Đăng
          xuất
        </button>
      </div>
    </div>
  </div>
  <!--sua chuong-->
  <div class="hidden" id="updateChapter">
    <div class="bg-black w-full h-full opacity-75 fixed top-0 left-0 z-10"></div>
    <div class=" row  absolute top-0 left-0 right-0 z-10 h-full overflow-y-auto">
      <div (click)="toggleUpdateChap(0, '')" class=" col-3  overflow-y-auto bg-black opacity-50"></div>

      <div class="col-6 ">
        <div class="flex w-full">
          <select (change)="onChapterChange()" [(ngModel)]="selectedChapter"
                  class="bg-white  p-1 text-sm w-full text-center">
            <option *ngFor="let chap of chapters" [value]="chap.index">Chương {{ chap.index }}: {{ chap.title }}
            </option>
          </select>
        </div>
        <div class="bg-black">
          <div *ngFor="let image of chapterImages" class="p">
            <div class="flex justify-between">
              <select (change)="checkOption($event, image)" [(ngModel)]="selectedOption"
                      class="bg-white w-full text-sm border-2 ">
                <option value="option1">Chỉnh sửa</option>
                <option value="option2">Thay thế</option>
                <option value="option3">Thêm trước</option>
                <option value="option4">Thêm sau</option>
                <option value="option5">Xóa</option>
              </select>
              <div class="bg-white w-full relative border-2">
                <input (change)="onImgSelected($event, image)" *ngIf="!isHidden" id="fileInput" type="file"/>
              </div>
            </div>
            <img [src]="image" alt="Chapter Image" class="max-w-full h-auto">
          </div>
        </div>
        <div class="w-full flex items-center justify-between">
          <div class="flex items-center">
            <select (change)="onChapterChange()" [(ngModel)]="selectedChapter" class="bg-white rounded p-1 text-sm">
              <option *ngFor="let chap of chapters" [value]="chap.index">Chương {{ chap.index }}: {{ chap.title }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div (click)="toggleUpdateChap(0, '')" class="relative z-10 col-3 overflow-y-auto bg-black opacity-50"></div>
    </div>
  </div>

  <!--Sửa thông tin cua nct-->
  <div class="hidden" id="updateuser">
    <div class="bg-black w-full h-full opacity-25 fixed top-0 left-0 z-10"></div>
    <div class="absolute top-0 left-0 right-0 z-10  flex justify-end h-full">
      <div class="bg-white w-500 px-4">
        <div class="flex justify-end ">
          <p class="p-2 bg-red-500 font-bold text-white" id="outupdateuser"> Thoát </p>
        </div>
        <div class=" flex flex-col items-center">

          <div class="p-2">
            <img alt="Person" class="rounded-full border border-black w-24 h-24"
                 sizes="(max-width: 600px) 96px, (max-width: 1200px) 192px, 384px"
                 src="{{url}}">
          </div>
          <form #form="ngForm" (ngSubmit)="addAvata(form)">
            <div class="flex items-center justify-center ">
              <label
                class=" w-full flex items-center justify-center  h-10 border-2 border-dashed border-gray-300 rounded-full cursor-pointer hover:border-blue-500  text-white hover:bg-blue-50"
                for="fileInput">
                <span class="text-gray-500">chọn file</span>
                <input (change)="FileSelected($event)" class="hidden" id="fileInput" type="file"/>
              </label>
            </div>
            <div class="hidden" name="id">{{ idaccount }}</div>
            <div>
              <button class=" border-2 border-dashed rounded-full p-2 mt-2  text-gray-500 hover:bg-gray-400"
                      type="submit">
                Thay ảnh đại diện
              </button>
            </div>
          </form>
          <div class="font-bold">Account name :{{ name }}</div>
        </div>
        <div class="flex justify-between">
          <button class="h-10  border p-1 rounded-l-full w-full" id="userupdate"> Thông
            tin
          </button>
          <button class="h-10 bg-blue-200 rounded-r-full p-1  w-full"> Chỉnh sửa thông tin</button>
        </div>
        <div>
          <input class=" w-full border h-12 rounded-full p-2 mt-2" id="nameuser" placeholder="Tên : " type="text">
          <input class="w-full border h-12 rounded-full p-2 mt-2" id="emailuser" placeholder="gmail :" type="text">

          <button (click)="updateInfo()"
                  class=" rounded-full text-white hover:bg-blue-900 bg-blue-600 w-full  mt-2 p-1 h-12 text-white"> Chỉnh
            sửa thông tin
          </button>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid h-1 p-0 bg-gradient-to-r from-blue-800 to-gray-500"></div>
  <div class="bg-gradient-to-b from-black to-blue-500" id="below">
    <div class=" border-b border-gray-500 mx-2">
      <div class="flex items-center justify-center p-4">
        <img class="h-20" src="https://mangaimg.blob.core.windows.net/assets/app_icon.919a13c7.png">
        <p class="font-bold text-white m-2 "> Đem đến trang truyện chất lượng </p>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <img class="m-2 bg-white rounded-full p-1" src="https://mangaimg.blob.core.windows.net/assets/iconface.png">
      <img class="m-2 bg-white rounded-full p-1" src="https://mangaimg.blob.core.windows.net/assets/iconmess.png">
    </div>
    <div class="flex items-center justify-center ">
      <p class="text-white m-4 text-sm">Hổ trợ</p>
      <p class="text-white m-4 text-sm">Tin tức sự kiện</p>
      <p class="text-white m-4 text-sm">Chính sách bảo mật</p>
      <p class="text-white m-4 text-sm">Điểu khoản dịch vụ</p>
      <p class="text-white m-4 text-sm">Xếp hạng nội dung </p>
      <p class="text-white m-4 text-sm">Bản quyền</p>
      <p class="text-white m-4 text-sm">Nguyên tắc cộng đồng </p>

    </div>
    <div class="text-white font-bold p-8 flex items-center justify-center text-2xl">
      DESIGIN BY NCT

    </div>
  </div>
</div>

