<div class="bg-main">
  <div class="p-4">
    <!-- Navigation for Chapters -->
    <div class="w-full flex items-center justify-center mb-2 px-4">
      <button (click)="goToChapter(+chapter_index - 1)"
              [disabled]="!hasPreviousChapter()"
              [ngClass]="{'bg-green-500': hasPreviousChapter(), 'bg-gray-300': !hasPreviousChapter()}"
              class="Btn-light p-2 rounded-l-full text-sm transition duration-300 ease-in-out hover:bg-green-600">
        Chương trước
      </button>

      <div class="flex items-center px-4">
        <select (change)="goToChapter(chapter_index)" [(ngModel)]="chapter_index"
                class="bg-white rounded p-2 text-sm transition duration-300 ease-in-out focus:ring-2 focus:ring-blue-500 focus:outline-none">
          <option *ngFor="let chapter of chapters; trackBy: trackByChapterIndex" [value]="chapter.index">
            Chương {{ chapter.index }}: {{ chapter.title }}
          </option>
        </select>
      </div>

      <button (click)="goToChapter(+chapter_index + 1)"
              [disabled]="!hasNextChapter()"
              [ngClass]="{'bg-green-500': hasNextChapter(), 'bg-gray-300': !hasNextChapter()}"
              class="Btn-light p-2 rounded-r-full text-sm transition duration-300 ease-in-out hover:bg-green-600">
        Chương sau
      </button>
    </div>

    <!-- Chapter Images -->
    <div class="bg-black mb-4 p-2 rounded-lg">
      <div *ngFor="let image of images" class=" flex justify-center">
        <img [src]="image" alt="Chapter Image" class="w-4/6 h-auto shadow-lg transition duration-300 ease-in-out"
             loading="lazy">
      </div>
    </div>

    <!-- Navigation for Chapters -->
    <div class="w-full flex items-center justify-center mb-2 px-4">
      <button (click)="goToChapter(+chapter_index - 1)"
              [disabled]="!hasPreviousChapter()"
              [ngClass]="{'bg-green-500': hasPreviousChapter(), 'bg-gray-300': !hasPreviousChapter()}"
              class="Btn-light p-2 rounded-l-full text-sm transition duration-300 ease-in-out hover:bg-green-600">
        Chương trước
      </button>

      <div class="flex items-center px-4">
        <select (change)="goToChapter(chapter_index)" [(ngModel)]="chapter_index"
                class="bg-white rounded p-2 text-sm transition duration-300 ease-in-out focus:ring-2 focus:ring-blue-500 focus:outline-none">
          <option *ngFor="let chapter of chapters; trackBy: trackByChapterIndex" [value]="chapter.index">
            Chương {{ chapter.index }}: {{ chapter.title }}
          </option>
        </select>
      </div>

      <button (click)="goToChapter(+chapter_index + 1)"
              [disabled]="!hasNextChapter()"
              [ngClass]="{'bg-green-500': hasNextChapter(), 'bg-gray-300': !hasNextChapter()}"
              class="Btn-light p-2 rounded-r-full text-sm transition duration-300 ease-in-out hover:bg-green-600">
        Chương sau
      </button>
    </div>

    <!-- Comment Section Title -->
    <div
      class="flex items-center text-white font-bold text-2xl bg-gradient-to-r from-blue-800 to-gray-500 p-4 rounded-lg mb-4 shadow-lg mt-4">
      <img alt="Comment Icon" class="h-11 mr-2" loading="lazy"
           src="https://mangaimg.blob.core.windows.net/assets/icons8-comment-100.png">
      <p>Bình luận</p>
    </div>

    <!-- Ban Comment Notification -->
    <div *ngIf="yourAc?.banComment" class="flex justify-center mt-4 text-red-500 font-bold">
      Tài khoản đã bị cấm bình luận, liên hệ quản lý để hỗ trợ.
    </div>
    <div (click)=" goToLogin()" *ngIf="yourId==-1"
         class=" cursor-pointer flex justify-center mt-4 text-red-500 font-bold">
      Đăng nhập để dùng chức năng bình luận
    </div>
    <!-- Add Comment Section -->
    <div *ngIf="!yourAc?.banComment && yourId!=-1" class="flex justify-center mt-4">
      <div
        class="p-4 w-90 bg-gradient-to-r from-gray-800 to-gray-900 rounded-xl shadow-lg hover:bg-gray-700 transition duration-300 ease-in-out">
        <div class="font-bold text-blue-500 mb-2">Thêm bình luận</div>
        <div class="flex">
          <input class="p-3 w-full rounded-l-xl focus:outline-none focus:ring-2 focus:ring-blue-500" id="textComment"
                 placeholder="Viết bình luận của bạn" type="text">
          <button (click)="addComment()"
                  class="bg-blue-500 text-white font-bold w-24 rounded-r-xl transition duration-300 ease-in-out hover:bg-blue-600">
            Bình luận
          </button>
        </div>
      </div>
    </div>

    <!-- Your Comments -->
    <div *ngFor="let listYourComment of listYourComment" class="flex justify-center mt-4">
      <div
        class="p-4 w-90 bg-gradient-to-r from-gray-800 to-gray-900 rounded-xl shadow-lg hover:bg-gray-700 transition duration-300 ease-in-out">
        <div class="flex items-start">
          <img alt="Avatar" class="h-16 w-16 object-cover p-1 bg-white rounded-full" loading="lazy"
               src="{{listYourComment.InfoAccount?.cover_img}}">
          <div class="ml-4 w-full">
            <div class="font-bold text-blue-500 ml-2 text-xl">{{ listYourComment.InfoAccount?.name }}</div>
            <div class="m-2 flex">
              <input class="p-3 w-full  text-white border-none bg-gray-700 rounded"
                     id="text{{listYourComment.Comment?.id_comment}}"
                     placeholder="{{ listYourComment.Comment?.content }}" type="text">
              <button (click)="updateComment(listYourComment.Comment?.id_comment)"
                      class="hidden bg-blue-500 text-white font-bold w-24 rounded-r-xl"
                      id="buttonUndate">Sửa bình luận
              </button>
            </div>
            <div class="flex justify-between mt-2 text-white text-sm ml-2">
              <span>{{ listYourComment.Comment?.time | date: 'dd-MM-yyyy' }}</span>
              <div class="flex">
                <button (click)="onUpdate()" class="text-blue-500 underline">Sửa
                  bình luận
                </button>
                <div class="text-blue-500 m-1">/</div>
                <button (click)="deleteComment(listYourComment.Comment?.id_comment)" class="text-blue-500 underline">Xóa
                  bình luận
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Other Users' Comments -->
    <div *ngFor="let listDataComments of listDataComment" class="flex justify-center mt-4">
      <div
        class="p-4 w-90 bg-gradient-to-r from-gray-800 to-gray-900 rounded-xl shadow-lg hover:bg-gray-700 transition duration-300 ease-in-out">
        <div class="flex items-start">
          <img alt="Avatar" class="h-16 w-16 object-cover p-1 bg-white rounded-full" loading="lazy"
               src="{{listDataComments.InfoAccount?.cover_img}}">
          <div class="ml-4 w-full rounded">
            <div class="font-bold text-blue-500 ml-2 text-xl">{{ listDataComments.InfoAccount?.name }}</div>
            <div class="p-3 w-full m-2 text-white text-sm bg-gray-700 rounded">{{ listDataComments.Comment?.content }}
            </div>
            <div class="flex justify-between mt-2 text-white text-sm ml-2">
              <span>{{ listDataComments.Comment?.time | date: 'dd-MM-yyyy' }}</span>
              <button
                (click)="addReport(listDataComments.Comment?.id_comment, listDataComments.Comment?.id_chapter, listDataComments.InfoAccount?.id_account, listDataComments.Comment?.content)"
                class="text-blue-500 underline">Báo cáo bình luận
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
