.input-transition {
  transition: width 0.3s ease;
}

.w-220 {
  width: 220px;
}

.w-70 {
  width: 70px;
}

.selected {
  color: rgb(245, 158, 11);
}

.white-icon {
  filter: brightness(0) invert(1);
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.description {
  font-size: 1.5rem;
}

.activeButton {
  width: 42%;
}

.coverImg {
  width: 50%;
}

@media (min-width: 768px) {
  .coverImg {
    width: 25%;
  }
}


