<div *ngIf="!isLoading" class="min-h-screen bg-gray-950">
  <div *ngIf="(mangaDetails.is_deleted || !mangaDetails.is_posted); else mangaContent"
       class="bg-gray-500 min-h-screen flex flex-col items-center justify-center text-white">
    <div class="text-center p-4">
      <h1 class="text-6xl lg:text-9xl font-bold text-yellow-500 mb-4">404</h1>
      <p class="text-2xl lg:text-4xl font-semibold mb-4">Rất tiếc! Manga không còn tồn tại.</p>
      <p class="text-lg lg:text-2xl mb-6">Manga bạn đang tìm có thể đã bị xóa hoặc không có sẵn.</p>
      <button (click)="goBack()" class="bg-yellow-500 text-gray-900 px-4 py-2 rounded hover:bg-yellow-400">Quay lại
      </button>
    </div>
  </div>

  <ng-template #mangaContent>
    <div class="bg-gray-500 fullScreen flex flex-col">
      <div class="flex-grow">
        <div class="pt-2 m-0 p-0 relative">
          <div [ngStyle]="{'background-image': 'url(' + mangaDetails.cover_img + ')'}"
               class="absolute top-0 left-0 w-full h-full opacity-30 bg-cover bg-center bg-no-repeat z-1">
          </div>
          <div class="flex z-10 relative">
            <div class="p-2 pb-3 coverImg rounded !important">
              <img [src]="mangaDetails.cover_img" alt="Cover Image" class="rounded" loading="lazy">
            </div>
            <div class="w-2/3 p-4 text-white">
              <div class="xl:text-8xl text-7xl font-bold mb-2">{{ mangaDetails.name }}</div>
              <div class="text-3xl font-semibold mb-4">{{ mangaDetails.author }}</div>
              <div class="flex flex-wrap items-center text-center">
                <div *ngFor="let category of filteredCategories"
                     [attr.title]="category.name + ' \n' + category.description"
                     class="bg-yellow-500 text-gray-900 rounded-lg p-2 m-2 text-sm">
                  {{ category.name }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex">
        <div class="p-2 md:w-1/4 ">
          <div (click)="toggleFavorite()" *ngIf="!isFavorite"
               class=" text-yellow-500 text-sm border-2 mt-2 border-yellow-500 rounded-sm p-2 hover:bg-yellow-500 hover:text-gray-500 cursor-pointer">
            <div>Yêu thích</div>
            <img alt="" class="h-5 px-1 ml-4" loading="lazy"
                 src="https://mangaimg.blob.core.windows.net/assets/icon_heart.png">
          </div>
          <div (click)="toggleFavorite()" *ngIf="isFavorite"
               class="text-yellow-500 text-sm border-2 mt-2 border-yellow-500 flex rounded-sm p-2 justify-between hover:bg-yellow-500 hover:text-gray-500 cursor-pointer">
            <div>Đã yêu thích</div>
            <img alt="" class="h-5 px-1 ml-4" loading="lazy"
                 src="https://mangaimg.blob.core.windows.net/assets/icon_heart.png">
          </div>
          <div>
            <div (click)="toggleRatingSection()"
                 class="text-yellow-500 text-sm border-2 mt-2 border-yellow-500 rounded-sm p-2 flex justify-between hover:bg-yellow-100 cursor-pointer"
                 id="Evaluate">
              <div class="text-yellow-500 text-sm hover:text-gray-500">Đánh
                giá: {{ mangaDetails.rating | number:'1.1-1' }}
                /5
              </div>
              <img alt="Star Icon" class="h-5 mx-1" loading="lazy"
                   src="https://mangaimg.blob.core.windows.net/assets/icons8-star-30.png">
            </div>
            <div *ngIf="showRatingSection">
              <div class="text-sm text-yellow-500 items-center border-2 border-yellow-500 rounded-sm my-1 p-1">
                <div class="flex">
                  <p>Đánh giá: <span>{{ selectedRatingValue }}</span> sao</p>
                  <div class="flex space-x-1 cursor-pointer">
        <span (click)="selectRating(star)"
              *ngFor="let star of [1, 2, 3, 4, 5]"
              [ngClass]="{
                'text-yellow-500': selectedRatingValue >= star,
                'text-gray-400': selectedRatingValue < star
              }">
          &#9733;
        </span>
                  </div>
                </div>
                <div class="flex justify-center">
                  <button (click)="confirmRating()" class="btn-warning w-full">Xác nhận</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <p class="font-bold text-white m-2 p-2 text-3xl">Mô tả</p>
      </div>
      <div class="container-fluid border-t border-gray-400 h-1 p-0"></div>
      <div>
        <p class="px-4 py-2 text-white lg:text-xl description">{{ mangaDetails.describe }}</p>
      </div>
      <div>
        <div class=" p-4">
          <div class="container-fluid border-t border-gray-400 h-1 p-0"></div>
          <div
            class="flex items-center justify-between text-white font-bold p-2 bg-gradient-to-r from-gray-500 to-black w-full">
            <p class="text-2xl">Danh sách chương</p>
            <img (click)="sortChapter(ascending)" alt="" class="h-7 white-icon cursor-pointer" loading="lazy"
                 src="https://mangaimg.blob.core.windows.net/assets/arrow-sort-icon.png">
          </div>
          <div class="overflow-y-auto max-h-96 m-2 scrollBarHidden">
            <div (click)="goToChapter(chapter.index)" *ngFor="let chapter of chapters"
                 [ngClass]="{'bg-gray-700 hover:bg-gray-900': chapter.isRead, 'bg-gray-600 hover:bg-gray-900': !chapter.isRead}"
                 class="hover:bg-black w-6/7 cursor-pointer rounded-xl m-1 transition duration-300 "
                 tabindex="0">
              <div class="flex justify-between items-center py-2 px-2">
                <div>
                  <p class="text-white font-bold text-2xl">Chương: {{ chapter.index }}</p>
                  <p class="text-white">{{ chapter.title }}</p>
                </div>
                <div class="ml-auto text-right">
                  <p class="text-white">Ngày đăng: {{ chapter.created_at | date:'HH:mm dd/MM/yyyy' }}</p>
                  <p *ngIf="chapter.isRead" class="text-white text-sm flex items-center">
                    <img alt="Đã đọc" class="h-5 mr-1 white-icon"
                         src="https://mangaimg.blob.core.windows.net/assets/icons8-eye-30.png">
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
