<div class="bg-gray-500">
  <div class="flex items-center justify-between">
    <div class="bg-gradient-to-r from-black to-gray-500 p-3 flex justify-between w-full">
      <p class="text-white font-bold text-2xl p-2">Danh sách manga</p>
      <div class="flex flex-col md:flex-row items-start p-4">
        <div class="ml-4 flex">
          <label class="bg-gray-700 text-white px-2 rounded-l-full" for="sort">Sắp xếp theo:</label>
          <select [(ngModel)]="sortOption" class="text-sm bg-gray-700 text-white" id="sort">
            <option value="newest">Mới nhất</option>
            <option value="oldest">Cũ nhất</option>
            <option value="viewsHigh">Lượt xem cao nhất</option>
            <option value="viewsLow">Lượt xem thấp nhất</option>
          </select>
        </div>
      </div>
    </div>
  </div>


  <!-- Search and Filter Section -->
  <div class="flex flex-col md:flex-row items-start bg-gradient-to-r from-gray-700 to-gray-500">
    <div class="flex flex-wrap w-11/12 ml-2">
      <!-- Categories checkboxes -->
      <div *ngFor="let category of categories" class="flex items-center m-1 w-24">
        <input (change)="toggleCategorySelection(category.id_category)" [id]="'cat_' + category.id_category"
               [value]="category.id_category"
               class="h-3 w-3" type="checkbox">
        <label [for]="'cat_' + category.id_category" class=" text-sm text-white ml-1">{{ category.name }}</label>
      </div>
    </div>
    <div class="ml-4">
      <button (click)="searchMangas()" class="bg-blue-400 hover:bg-blue-500 text-white p-3 h-auto">Tìm kiếm</button>
    </div>
  </div>

  <div class="px-5 py-4 flex flex-wrap">
    <ul class="flex flex-wrap px-4">
      <li (click)="viewMangaDetails(manga.id_manga)" *ngFor="let manga of filteredMangas"
          class="w-200 m-1 flex flex-col">
        <img [src]="manga.cover_img" alt="" class="w-170 h-100">
        <div class="flex justify-between items-center mt-2 px-1 border-t border-white pt-2">
          <div class="text-white text-sm">{{ manga.name }}</div>
          <img alt="" class="ml-4 h-4" src="https://mangaimg.blob.core.windows.net/assets/iconeye.png">
          <div class="text-white text-sm text-end">{{ manga.totalViews | number }}</div>
        </div>
        <p class="text-gray-100 m-1 text-sm">{{ manga.author }}</p>
      </li>
    </ul>
  </div>
</div>
