<div class="bg-gray-500">
  <div class="flex items-center justify-between">
    <div class="bg-gradient-to-r from-black to-gray-500 p-3">
      <p class="text-white font-bold text-2xl p-2">Danh sách manga</p>
    </div>
  </div>

  <!-- Search and Filter Section -->
  <div class="flex flex-col md:flex-row items-start p-4">
    <div class="flex flex-wrap">
      <!-- Categories checkboxes -->
      <div *ngFor="let category of categories" class="mr-2">
        <input type="checkbox" [id]="'cat_' + category.id_category" [value]="category.id_category" (change)="toggleCategorySelection(category.id_category)">
        <label [for]="'cat_' + category.id_category" class="text-white">{{ category.name }}</label>
      </div>
    </div>

    <!-- Combo box for sorting -->
    <div class="ml-4">
      <label for="sort" class="text-white">Sắp xếp theo:</label>
      <select id="sort" [(ngModel)]="sortOption" class="ml-2 p-2 bg-gray-700 text-white">
        <option value="newest">Mới nhất</option>
        <option value="oldest">Cũ nhất</option>
        <option value="viewsHigh">Lượt xem cao nhất</option>
        <option value="viewsLow">Lượt xem thấp nhất</option>
      </select>
    </div>
    <div class="ml-4">
      <button (click)="searchMangas()" class="bg-blue-500 text-white p-2 rounded">Tìm kiếm</button>
    </div>
  </div>

  <div class="px-5 flex flex-wrap">
    <ul class="flex flex-wrap px-4">
      <li (click)="viewMangaDetails(manga.id_manga)" *ngFor="let manga of filteredMangas"
          class="w-200 m-1 flex flex-col">
        <img [src]="manga.cover_img" alt="" class="w-170 h-100">
        <div class="flex justify-between items-center mt-2 px-1 border-t border-white pt-2">
          <p class="text-white text-sm">{{ manga.name }}</p>
          <img alt="" class="ml-4 h-4" src="https://mangaimg.blob.core.windows.net/assets/iconeye.png">
          <p class="text-white text-sm text-end">{{ manga.totalViews | number }}</p>
        </div>
        <p class="text-gray-500 p-2 text-sm">{{ manga.author }}</p>
      </li>
    </ul>
  </div>
</div>
