.w-170 {
  width: 200px;
}

.hidden {
  display: none;
}

.h-100 {
  height: 100px;
}

.manga-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 130px;
}
.img-rounded {
  border-radius: 8px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20px;
  background-color: #facc15;
  color: black;
  padding: 4px 8px;
  font-size: 1rem;
  border-radius: 8px;
  white-space: nowrap;
  width: auto;
}



