<div>
  <div class="bg-gray-950 " id="BodyWebsite">
    <!--Banner-->
    <div class="swiper-banner bg-black" id="Banner">
      <swiper-container class="swiper-container"
                        mousewheel="true"
                        navigation="true"
                        pagination="true"
                        pagination-clickable="true"
                        autoplay="true"
                        [autoplay]="{ delay: 3000, disableOnInteraction: false }">
        <swiper-slide
          (click)="viewMangaDetails(manga.id_manga)"
          *ngFor="let manga of recentMangas"
          class="swiper-slide-item"
        >
          <div [ngStyle]="{'background-image': 'url(' + manga.cover_img + ')'}" class="background-overlay"></div>
          <div class="swiper-content flex items-center">
            <img [src]="manga.cover_img" alt="Manga Cover" class="cover-img"/>
            <div>
              <div class="fixed-content">
                <p class="text-white font-bold ml-3 text-3xl">Truyện mới cập nhật</p>
              </div>
              <div class="ml-4 text-center">
                <p class="text-white font-bold text-3xl">{{ manga.name }}</p>
                <p class="text-gray-100 text-2xl">{{ manga.author }}</p>
                <div class="flex flex-wrap justify-center">
                  <div *ngFor="let category of manga.categories"
                       class="bg-yellow-500 text-gray-900 rounded-lg p-2 m-2 text-sm">
                    {{ category }}
                  </div>
                </div>
                <p *ngIf="!isSmallScreen" class="text-gray-100 text-xl p-2 mx-4">{{ manga.describe }}</p>
              </div>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
    <!--End Banner<-->
    <div class="row mx-auto">
      <div class="col-8-5 bg-gray-950 bg-opacity-80 ">
        <!--popular-->
        <div class="relative flex justify-between items-center">
          <div class="bg-gradient-to-r from-blue-700 to-blue-500 w-30 h-8 absolute top-0 left-0"></div>
          <div class="text-4xl font-bold text-white m-10"
               style="top: -50%; transform: translateY(-50%);">Truyện phổ biến nhất</div>
          <img (click)="goToRank()" src="https://mangaimg.blob.core.windows.net/assets/arrow-right-line.svg" class="h-14 white-icon cursor-pointer mb-4 mr-4">
        </div>

        <div id="MainBody">
          <ul class="flex flex-wrap px-4">
            <li (click)="viewMangaDetails(manga.id_manga)" *ngFor="let manga of popularMangas"
                class="w-200 m-4 flex flex-col manga-item rounded relative">
              <div class="relative">
                <img [src]="manga.cover_img" class="w-48 h-72 object-cover rounded">
                <div class="description">
                  <p>{{ manga.describe }}</p>
                </div>
              </div>
              <div class="absolute opacity-85 top-0 left-0 bg-yellow-500 text-black text-xs font-semibold p-1 rounded">
                {{ getTimeDifference(manga.updated_at) }}
              </div>
              <div class="flex justify-between items-center mt-2 px-1 border-t border-white pt-2">
                <div class="text-white text-sm font-bold manga-name w-36">{{ manga.name }}</div>
                <img class="ml-3 mr-1 h-4 mt-0.5" src="https://mangaimg.blob.core.windows.net/assets/icon_heart.png">
                <div class="text-white text-sm text-end">{{ manga.follower | number }}</div>
              </div>
              <div class="text-gray-100 m-1 text-sm">{{ manga.author }}</div>
              <div class="text-gray-100 m-1 text-xs">Chương: {{ manga.latestChapter }}</div>
            </li>
          </ul>
        </div>

        <!--top truyen-->
        <div class="relative flex justify-between items-center">
          <div class="bg-gradient-to-r from-blue-700 to-blue-500 w-30 h-8 absolute top-0 left-0"></div>
          <div class="text-4xl font-bold text-white m-10"
               style="top: -50%; transform: translateY(-50%);">Truyện có lượt xem cao nhất</div>
          <img (click)="goToRank()" src="https://mangaimg.blob.core.windows.net/assets/arrow-right-line.svg" class="h-14 white-icon cursor-pointer mb-4 mr-4">
        </div>
        <div id="MainBody">
          <ul class="flex flex-wrap px-4">
            <li (click)="viewMangaDetails(top_manga.id_manga)" *ngFor="let top_manga of topMangas"
                class="w-200 m-4 flex flex-col manga-item rounded relative">
              <div class="relative">
                <img [src]="top_manga.cover_img" class="w-48 h-72 rounded">
                <div class="description">
                  <p>{{ top_manga.describe }}</p>
                </div>
              </div>
              <div class="absolute opacity-85 top-0 left-0 bg-yellow-500 text-gray-900 text-xs font-semibold p-1 rounded">
                {{ getTimeDifference(top_manga.updated_at) }}
              </div>
              <div class="flex justify-between items-center mt-2 px-1 border-t border-white pt-2">
                <div class="text-white text-sm font-bold manga-name w-36">{{ top_manga.name }}</div>
                <img class="ml-3 mr-1 h-4" src="https://mangaimg.blob.core.windows.net/assets/iconeye.png">
                <div class="text-white text-sm text-end">{{ top_manga.totalViews | number }}</div>
              </div>
              <div class="text-gray-100 m-1 text-sm">{{ top_manga.author }}</div>
              <div class="text-gray-100 m-1 text-xs">Chương: {{ top_manga.latestChapter }}</div>
            </li>
          </ul>
        </div>

        <!--Top Rating-->
        <div class="relative flex justify-between items-center">
          <div class="bg-gradient-to-r from-blue-700 to-blue-500 w-30 h-8 absolute top-0 left-0"></div>
          <div class="text-4xl font-bold text-white m-10"
               style="top: -50%; transform: translateY(-50%);">Top Rating</div>
          <img (click)="goToRank()" src="https://mangaimg.blob.core.windows.net/assets/arrow-right-line.svg" class="h-14 white-icon cursor-pointer mb-4 mr-4">
        </div>
        <div id="MainBody">
          <ul class="flex flex-wrap px-4">
            <li (click)="viewMangaDetails(rated_manga.id_manga)" *ngFor="let rated_manga of topRatedMangas"
                [attr.title]="rated_manga.name + ' \n' + rated_manga.describe"
                class=" w-200 m-4 flex flex-col manga-item rounded relative">
              <div class="relative">
                <img [src]="rated_manga.cover_img" class="w-48 h-72 rounded">
                <div class="description">
                  <p>{{ rated_manga.describe }}</p>
                </div>
              </div>
              <div class="absolute opacity-85 top-0 left-0 bg-yellow-500 text-gray-900 text-xs font-semibold p-1 rounded">
                {{ getTimeDifference(rated_manga.updated_at) }}
              </div>
              <div class="flex justify-between items-center mt-2 px-1 border-t border-white pt-2">
                <div class="text-white text-sm font-bold manga-name w-36">{{ rated_manga.name }}</div>
                <img class="ml-3 mr-1 h-4 justify-content-end"
                     src="https://mangaimg.blob.core.windows.net/assets/icons8-star-30.png">
                <div class="text-white text-sm text-end">{{ rated_manga.rating | number:'1.1-1' }}</div>
              </div>
              <div class="text-gray-100 m-1 text-sm">{{ rated_manga.author }}</div>
              <div class="text-gray-100 m-1 text-xs">Chương: {{ rated_manga.latestChapter }}</div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-3-5 border-l h-full">
        <div class="bg-gradient-to-r from-gray-950 to-blue-900 p-3 flex justify-between shadow-lg">
          <h1 class="font-bold text-3xl text-white flex items-center mt-3 text-center hover:text-yellow-400 transition-colors duration-300">
            <img alt="Icon" class="mr-3 animate-pulse" src="https://mangaimg.blob.core.windows.net/assets/icons8-star-30.png">
            Top Lượt xem
          </h1>
        </div>
        <div class="flex object- justify-between bg-gradient-to-r from-gray-950 to-blue-900 p-2">
          <button (click)="setTab('day')"
                  [ngClass]="{ 'bg-yellow-500 text-black': selectedTab === 'day', 'text-white hover:text-yellow-400': selectedTab !== 'day' }"
                  class="font-bold py-2 px-7 rounded transition-all duration-300 hover:scale-105">Ngày
          </button>

          <button (click)="setTab('week')"
                  [ngClass]="{ 'bg-yellow-500 text-black': selectedTab === 'week', 'text-white hover:text-yellow-400': selectedTab !== 'week' }"
                  class="font-bold py-2 px-7 rounded transition-all duration-300 hover:scale-105">Tuần
          </button>

          <button (click)="setTab('month')"
                  [ngClass]="{ 'bg-yellow-500 text-black': selectedTab === 'month', 'text-white hover:text-yellow-400': selectedTab !== 'month' }"
                  class="font-bold py-2 px-7 rounded transition-all duration-300 hover:scale-105">Tháng
          </button>
        </div>
        <div class="p-2 h-90">
          <div (click)="viewMangaDetails(manga.id_manga)" *ngFor="let manga of topViewMangas"
               [attr.title]="manga.name + ' \n' + manga.describe"
               class="flex flex-col manga-item my-4 transform transition-transform duration-300 hover:scale-102">
            <div class="flex hover:bg-gradient-to-r from-blue-700 to-gray-900 p-3 rounded-lg shadow-md hover:shadow-lg transition-all duration-300">
              <img [src]="manga.cover_img" class="w-1/2 h-50 object-cover rounded-lg hover:opacity-90 transition-opacity duration-300">
              <div class="ml-3">
                <p class="text-white font-bold text-xl text-wrap max-w-40 hover:text-yellow-400 transition-colors duration-300">{{ manga.name }}</p>
                <p class="text-gray-300 mt-2 text-sm hover:text-white transition-colors duration-300">{{ manga.author }}</p>
                <div class="flex items-center mt-3">
                  <img alt="Icon" class="h-5 animate-pulse" src="https://mangaimg.blob.core.windows.net/assets/icons8-star-30.png">
                  <p class="text-white text-sm ml-2 mt-3">{{ manga.totalViews }} lượt xem</p>
                </div>
              </div>
            </div>
          </div>
          <div class="m-4" id="viewall">
            <div (click)="goToRank()"
                 class="w-4/5 text-white font-bold border-2 border-blue-500 rounded-lg p-2 text-center mx-auto cursor-pointer
                  hover:bg-blue-500 hover:text-white transition-all duration-300 transform hover:scale-105 shadow-lg">
              View All
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
