<div class="bg-gray-500 ">
  <div id="ListPicture">
    <div class="bg-black bg-opacity-80">
      <div class="carousel slide pb-5" data-bs-ride="carousel" data-bs-interval="5000" id="carouselExample">
        <div class="carousel-inner p-8">
          <div class="carousel-item active">
            <div class="flex">
              <div *ngFor="let banner of twoBanners.slice(0, 2); let i = index" class="col-6 p-2">
                <img (click)="click(banner.url_manga)" [src]="banner.image_banner" alt="Ảnh 1" class="rounded-lg d-block">
              </div>
            </div>
            <div class="bg-black p-4">
              <div class="row">
                <div *ngFor="let banner of threeBanners" class="col-4">
                  <img (click)="click(banner.url_manga)" [src]="banner.image_banner" alt="Ảnh 1" class="rounded-lg d-block">
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div *ngIf="twoBanners.length > 2" class="flex">
              <div *ngFor="let banner of twoBanners.slice(2, 4); let i = index" class="col-6 p-2">
                <img (click)="click(banner.url_manga)" [src]="banner.image_banner" alt="Ảnh 2" class="rounded-lg d-block">
              </div>
            </div>
            <div class="bg-black p-4">
              <div class="row">
                <div *ngFor="let banner of threeBanners1" class="col-4">
                  <img (click)="click(banner.url_manga)" [src]="banner.image_banner" alt="Ảnh 2" class="rounded-lg d-block">
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>


  <div id="BodyWebsite">
    <div class="row mt-2">
      <div class="col-9 bg-black bg-opacity-80 ">
        <!--truyen moi nhat-->
        <div class="relative">
          <div class="bg-gradient-to-r from-blue-700 to-blue-500 w-30 h-8 absolute top-0 left-0"></div>
          <div class="text-4xl font-bold text-white relative m-10"
               style="top: 50%; transform: translateY(50%);">Truyện mới
          </div>
        </div>
        <div class="flex justify-end">
          <p class="text-blue-500 underline" (click)="goToListView()"> Xem thêm </p>
        </div>

        <div id="MainBody">
          <ul class="flex flex-wrap px-4">
            <li (click)="viewMangaDetails(manga.id_manga)" *ngFor="let manga of recentMangas"
                class="w-200 m-1 flex flex-col">
              <img [src]="manga.cover_img" class="w-full h-100">
              <div class="flex justify-between items-center mt-2 px-1 border-t border-white pt-2">
                <div class="text-white text-sm font-bold">{{ manga.name }}</div>
                <img class="ml-4 h-4" src="https://mangaimg.blob.core.windows.net/assets/iconeye.png">
                <div class="text-white text-sm text-end">{{ manga.totalViews | number }}</div>
              </div>
              <p class="text-gray-100 m-1 text-sm">{{ manga.author }}</p>
            </li>
          </ul>
        </div>

        <!--top truyen-->
        <div class="relative">
          <div class="bg-gradient-to-r from-blue-700 to-blue-500 w-30 h-8 absolute top-0 left-0"></div>
          <div class="text-4xl font-bold text-white relative m-10"
               style="top: 50%; transform: translateY(50%);">Truyện có lượt xem cao nhất
          </div>
        </div>
        <div class="flex justify-end">
          <p class="text-blue-500 underline" (click)="goToRank()"> Xem thêm </p>
        </div>
        <div id="MainBody">
          <ul class="flex flex-wrap px-4">
            <li (click)="viewMangaDetails(top_manga.id_manga)" *ngFor="let top_manga of topMangas"
                class="w-200 m-1 flex flex-col">
              <img [src]="top_manga.cover_img" class="w-full h-100">
              <div class="flex justify-between items-center mt-2 px-1 border-t border-white pt-2">
                <div class="text-white text-sm font-bold">{{ top_manga.name }}</div>
                <img class="ml-4 h-4" src="https://mangaimg.blob.core.windows.net/assets/iconeye.png">
                <div class="text-white text-sm text-end">{{ top_manga.totalViews | number }}</div>
              </div>
              <div class="text-gray-100 m-1 text-sm">{{ top_manga.author }}</div>
            </li>
          </ul>
        </div>


        <div class="relative">
          <div class="bg-gradient-to-r from-blue-700 to-blue-500 w-30 h-8 absolute top-0 left-0"></div>
          <div class="text-4xl font-bold text-white relative m-10"
               style="top: 50%; transform: translateY(50%);">Top Rating
          </div>
        </div>
        <div class="flex justify-end">
          <p class="text-blue-500 underline" (click)="goToRank()"> Xem thêm </p>
        </div>
        <div id="MainBody">
          <ul class="flex flex-wrap px-4">
            <li (click)="viewMangaDetails(rated_manga.id_manga)" *ngFor="let rated_manga of topRatedMangas"
                class=" w-200 m-1 flex flex-col">
              <img
                [src]="rated_manga.cover_img"
                class="w-full h-100">
              <div class="flex justify-between items-center mt-2 px-1 border-t border-white pt-2">
                <div class="text-white text-sm font-bold">{{ rated_manga.name }}</div>
                <img class="ml-4 h-4" src="https://mangaimg.blob.core.windows.net/assets/icons8-star-30.png">
                <div class="text-white text-sm text-end">{{ rated_manga.rating | number:'1.1-1'}}</div>
              </div>
              <div class="text-gray-100 m-1 text-sm">{{ rated_manga.author }}</div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-3 -mx-2 ">
        <div class="bg-gradient-to-r from-blue-800 to-blue-400 p-2 flex justify-between">
          <h1 class="font-bold text-2xl text-white flex items-center">
            <img alt="Icon" class="mr-2" src="https://mangaimg.blob.core.windows.net/assets/icons8-star-30.png">
            Top Lượt xem
          </h1>
        </div>
        <div class="flex justify-around bg-gradient-to-r from-blue-500 to-black p-2">
          <button (click)="setTab('day')"
                  [ngClass]="{ 'text-yellow-500': selectedTab === 'day', 'text-white': selectedTab !== 'day' }"
                  class="font-bold py-2 px-4 rounded">Ngày
          </button>

          <button (click)="setTab('week')"
                  [ngClass]="{ 'text-yellow-500': selectedTab === 'week', 'text-white': selectedTab !== 'week' }"
                  class="font-bold py-2 px-4 rounded">Tuần
          </button>

          <button (click)="setTab('month')"
                  [ngClass]="{ 'text-yellow-500': selectedTab === 'month', 'text-white': selectedTab !== 'month' }"
                  class="font-bold py-2 px-4 rounded">Tháng
          </button>
        </div>

        <div class="bg-gradient-to-r from-blue-400 to-black p-2 h-90">
          <div *ngFor="let manga of topViewMangas" class="flex flex-col" (click)="viewMangaDetails(manga.id_manga)">
            <div class="flex mt-2 hover:bg-gradient-to-r from-blue-600 to-black p-2">
              <img [src]="manga.cover_img" class="w-120">
              <div>
                <p class="text-white ml-2 font-bold text-xl">{{ manga.name }}</p>
                <p class="text-white m-2 text-sm">{{ manga.author }}</p>
                <div class="flex m-2">
                  <img alt="Icon" class="h-5" src="https://mangaimg.blob.core.windows.net/assets/icons8-star-30.png">
                  <p class="text-white text-sm ml-2">{{ manga.totalViews }} lượt xem</p>
                </div>
              </div>
            </div>
          </div>
          <div class="m-4" id="viewall">
            <div class="w-4/5 text-white font-bold border-2 border-blue-500 rounded-lg p-2 text-center mx-auto" (click)="goToRank()">
              View All
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
