<div class="bg-gray-500 ">
  <div id=" ListPicture ">
    <div class="bg-black bg-opacity-80 ">
      <div class="carousel slide  pb-5" data-interval="3000" data-ride="carousel" id="carouselExample">
        <div class="carousel-inner  bg-black p-4">
          <div class="carousel-item active">
            <div class="row">
              <div *ngFor="let banner of threebanners" class="col-4">
                <img (click)="click(banner.url_manga)" [src]="banner.image_banner" alt="Ảnh 1"
                     class="rounded-lg d-block">
              </div>
            </div>
          </div>

        </div>
        <div class="carousel-inner p-8">
          <div class="carousel-item active">
            <div class="row flex justify-between">
              <div *ngFor="let twoBanner of twobanners" class="col-6 ">
                <img (click)="click(twoBanner.url_manga)" [src]="twoBanner.image_banner" alt="Ảnh 1"
                     class="rounded-lg d-block ">
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div id="BodyWebsite">
    <div class="row mt-2">
      <div class="col-9 bg-black bg-opacity-80 ">
        <!--truyen moi nhat-->
        <div class="relative">
          <div class="bg-gradient-to-r from-blue-700 to-blue-500 w-30 h-8 absolute top-0 left-0"></div>
          <div class="text-4xl font-bold text-white relative m-10"
               style="top: 50%; transform: translateY(50%);">Truyện mới
          </div>
        </div>
        <div class="flex justify-end">
          <p class="text-blue-500 underline"> Xem thêm </p>
        </div>

        <div id="MainBody">
          <ul class="flex flex-wrap px-4">
            <li (click)="viewMangaDetails(manga.id_manga)" *ngFor="let manga of recentMangas"
                class="w-200 m-1 flex flex-col">
              <img [src]="manga.cover_img" class="w-full h-100">
              <div class="flex justify-between items-center mt-2 px-1 border-t border-white pt-2">
                <p class="text-white text-sm">{{ manga.name }}</p>
                <img class="ml-4 h-4" src="https://mangaimg.blob.core.windows.net/assets/iconeye.png">
                <p class="text-white text-sm text-end">{{ manga.totalViews | number }}</p>
              </div>
              <p class="text-gray-500 p-2 text-sm">{{ manga.author }}</p>
            </li>
          </ul>
        </div>

        <!--top truyen-->
        <div class="relative">
          <div class="bg-gradient-to-r from-blue-700 to-blue-500 w-30 h-8 absolute top-0 left-0"></div>
          <div class="text-4xl font-bold text-white relative m-10"
               style="top: 50%; transform: translateY(50%);">Truyện có lượt xem cao nhất
          </div>
        </div>
        <div class="flex justify-end">
          <p class="text-blue-500 underline"> Xem thêm </p>
        </div>
        <div id="MainBody">
          <ul class="flex flex-wrap px-4">
            <li (click)="viewMangaDetails(top_manga.id_manga)" *ngFor="let top_manga of topMangas"
                class="w-200 m-1 flex flex-col">
              <img [src]="top_manga.cover_img" class="w-full h-100">
              <div class="flex justify-between items-center mt-2 px-1 border-t border-white pt-2">
                <p class="text-white text-sm">{{ top_manga.name }}</p>
                <img class="ml-4 h-4" src="https://mangaimg.blob.core.windows.net/assets/iconeye.png">
                <p class="text-white text-sm text-end">{{ top_manga.totalViews | number }}</p>
              </div>
              <p class="text-gray-500 p-2 text-sm">{{ top_manga.author }}</p>
            </li>
          </ul>
        </div>


        <div class="relative">
          <div class="bg-gradient-to-r from-blue-700 to-blue-500 w-30 h-8 absolute top-0 left-0"></div>
          <div class="text-4xl font-bold text-white relative m-10"
               style="top: 50%; transform: translateY(50%);">Truyện gợi ý
          </div>
        </div>
        <div class="flex justify-end">
          <p class="text-blue-500 underline"> Xem thêm </p>
        </div>
        <div id="MainBody">
          <ul class="flex flex-wrap px-4">

            <li class=" w-200 m-1 flex flex-col">
              <img
                class="w-full h-100"
                src="https://jumpg-assets.tokyo-cdn.com/secure/title/100159/title_thumbnail_portrait_list/312127.jpg?hash=_aP2LM5GX0IqkJGKIuKXKA&expires=2145884400">
              <div class="flex justify-between items-center mt-2 px-1 border-t border-white pt-2">
                <p class="text-white text-sm">#001</p>
                <img class="ml-4 h-4" src="https://mangaimg.blob.core.windows.net/assets/iconeye.png">
                <p class="text-white text-sm text-end">100.000</p>
              </div>
              <p class="text-gray-500 p-2 text-sm">Godila</p>
            </li>


          </ul>
        </div>
      </div>
      <div class="col-3 -mx-2  ">
        <div class="bg-gradient-to-r from-blue-800 to-blue-400 p-2 flex justify-between">

          <h1 class="font-bold text-2xl text-white flex items-center">
            <img alt="Icon" class="mr-2" src="https://mangaimg.blob.core.windows.net/assets/icons8-star-30.png">
            Top Rating
          </h1>
        </div>
        <div class="bg-gradient-to-r from-blue-400 to-black p-2  h-90 ">
          <div class="flex flex-col">
            <div *ngFor="let top_rated_manga of topRatedMangas; let i = index"
                 class="flex mt-2 hover:bg-gradient-to-r from-blue-600 to-black p-2">
              <div class="text-white rounded-full text-center bg-yellow-500 w-8 h-8 p-1 mx-2 mt-5">{{ +i + 1 }}</div>
              <img class="w-120" src={{top_rated_manga.cover_img}}>
              <div>
                <p class="text-white ml-2  font-bold text-xl">{{ top_rated_manga.name }}</p>
                <p class="text-white m-2 text-sm">{{ top_rated_manga.author }}</p>
                <div class="flex m-2">
                  <img alt="Icon" class="  h-5"
                       src="https://mangaimg.blob.core.windows.net/assets/icons8-star-30.png">
                  <p class="text-white font white text-sm ml-2">{{ top_rated_manga.rating }}</p>
                </div>

              </div>
            </div>
          </div>

          <div class="m-4" id="viewall ">
            <div
              class="w-4/5 text-white font-bold border-2 border-blue-500 rounded-lg p-2 text-center mx-auto">
              View All
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

