<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>@ViewData["Title"]</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"/>
</head>
<style>
  .h-30 {
    height: 60px;
  }

  .h200 {
  .h-30 {
    height: 60px;
  }

  .h200 {

    height: 200px;
  }

  .w-500 {
    width: 500px;
  }

  .w-1000 {
    width: 1000px;
  }

  .h-50 {
    height: 50px;
  }

  .w-90 {
    width: 90%;
  }
    height: 200px;
  }

  .w-500 {
    width: 500px;
  }

  .w-1000 {
    width: 1000px;
  }

  .h-50 {
    height: 50px;
  }

  .w-90 {
    width: 90%;
  }


</style>


<body class="bg-white relative">
<div class="row">
  <div class="p-4 col-2 bg-white  ">
    <div class=" rounded-xl flex justify-center items-center bg-white ">
      <img (click)="goToIndex()" alt="Logo"
           class="h-30 p-1" src="https://mangaplus.shueisha.co.jp/img/web_logo_190118_light-txt.06756983.png">
    </div>
    <ul>
      <li class="font-bold text-sm  text-center">Quản lý đọc truyện</li>
      <ul class="flex mt-8 mx-2">
        <img class="h-4 mt-1" src="https://imagemanga.blob.core.windows.net/assets/icons8-home-20.png">
        <li (click)="goToIndex()" class="font-bold text-center mx-2 ">Trang chính</li>
      </ul>
      <ul>
        <h1 (click)="goTomanager()"
            class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
            id="manageStories">
          Quản lý truyện</h1>
<div class="row">
  <div class="p-4 col-2 bg-white  ">
    <div class=" rounded-xl flex justify-center items-center bg-white ">
      <img (click)="goToIndex()" alt="Logo"
           class="h-30 p-1" src="https://mangaplus.shueisha.co.jp/img/web_logo_190118_light-txt.06756983.png">
    </div>
    <ul>
      <li class="font-bold text-sm  text-center">Quản lý đọc truyện</li>
      <ul class="flex mt-8 mx-2">
        <img class="h-4 mt-1" src="https://imagemanga.blob.core.windows.net/assets/icons8-home-20.png">
        <li (click)="goToIndex()" class="font-bold text-center mx-2 ">Trang chính</li>
      </ul>
      <ul>
        <h1 (click)="goTomanager()"
            class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
            id="manageStories">
          Quản lý truyện</h1>

      </ul>
      <ul>
        <h1 (click)="goToacount()"
            class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
            id="manageStories1">
          Quản lý tài khoản</h1>
      </ul>
      <ul>
        <h1 (click)="goToComment()"
            class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
            id="manageStories2">
          Quản lý bình luận</h1>
      </ul>
      <ul>
        <h1 (click)="goToacount()"
            class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
            id="manageStories1">
          Quản lý tài khoản</h1>
      </ul>
      <ul>
        <h1 (click)="goToComment()"
            class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
            id="manageStories2">
          Quản lý bình luận</h1>

      </ul>
      <h1 (click)="goTostatiscal()"
          class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
          id="manageStories2">
        Thống kê
      </h1>
      <h1 (click)="goToBanner()"
          class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
          id="manageStories4">
        Quản lý Banner
      </h1>
    </ul>
  </div>
      </ul>
      <h1 (click)="goTostatiscal()"
          class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
          id="manageStories2">
        Thống kê
      </h1>
      <h1 (click)="goToBanner()"
          class="text-sm cursor-pointer font-bold p-1 border-l-2 m-2 border-transparent hover:border-yellow-500 hover:text-yellow-500"
          id="manageStories4">
        Quản lý Banner
      </h1>
    </ul>
  </div>

  <div class="col-10 bg-white border border-black">
    <div class="p-2 border-b boder-gray-500">
      <div class="flex row ">
        <p class=" col-4  font-bold text-xl "> Quản lý bình luận </p>
        <div class="col-7">
          <input aria-label="Tìm kiếm truyện" class=" form-control me-2" placeholder="Tìm bình luận..." type="search">
        </div>
      </div>
    </div>
    <div>
      <div class="flex items-end justify-end p-1 bg-white border-b boder-gray-500 ">
        <div class="border-2 border-yello text-yello p-1 px-2 mx-3 font-bold rounded-full w-auto">
          Lọc bình luận
        </div>
      </div>
      <div class="p-2  bg-white ">
        <P class="text-xl font-bold"> Danh sách bình luận </P>
  <div class="col-10 bg-white border border-black">
    <div class="p-2 border-b boder-gray-500">
      <div class="flex row ">
        <p class=" col-4  font-bold text-xl "> Quản lý bình luận </p>
        <div class="col-7">
          <input aria-label="Tìm kiếm truyện" class=" form-control me-2" placeholder="Tìm bình luận..." type="search">
        </div>
      </div>
    </div>
    <div>
      <div class="flex items-end justify-end p-1 bg-white border-b boder-gray-500 ">
        <div class="border-2 border-yello text-yello p-1 px-2 mx-3 font-bold rounded-full w-auto">
          Lọc bình luận
        </div>
      </div>
      <div class="p-2  bg-white ">
        <P class="text-xl font-bold"> Danh sách bình luận </P>

        <div class="flex">
          <div class=" border rounded-xl ">
            <div class="row px-3 py-1 flex">
              <div class="h-16 w-16 bg-white rounded-full overflow-hidden border flex justify-center items-center">
                <img alt="Avatar"
                     class="h-16 w-16 p-0 object-cover"
                     src="https://jumpg-assets.tokyo-cdn.com/secure/comment_icon/142680.png?hash=9qrM0CsWXQUwQTB_DCAjOg&expires=2145884400">
              </div>
              <div>
                <div>
                  <p class="font-bold text-blue-500 mx-2">Khanh đb</p>
                </div>
                <div class="m-2 flex flex-wrap">
                  <p class="text-sm ml-2">truyen do vai ceccccccccccccccccc</p>
                </div>
              </div>
            </div>
            <div class="flex justify-between bg-blue-500 rounded-b-xl">
              <p class="text-small px-2 text-white "> Time: 21:30 / Day : 9/9/2020</p>
              <button class="btn-warning px-2 ">Cấm bình luận</button>
              <button class="btn-danger px-2 "> Xóa bình luận</button>
        <div class="flex">
          <div class=" border rounded-xl ">
            <div class="row px-3 py-1 flex">
              <div class="h-16 w-16 bg-white rounded-full overflow-hidden border flex justify-center items-center">
                <img alt="Avatar"
                     class="h-16 w-16 p-0 object-cover"
                     src="https://jumpg-assets.tokyo-cdn.com/secure/comment_icon/142680.png?hash=9qrM0CsWXQUwQTB_DCAjOg&expires=2145884400">
              </div>
              <div>
                <div>
                  <p class="font-bold text-blue-500 mx-2">Khanh đb</p>
                </div>
                <div class="m-2 flex flex-wrap">
                  <p class="text-sm ml-2">truyen do vai ceccccccccccccccccc</p>
                </div>
              </div>
            </div>
            <div class="flex justify-between bg-blue-500 rounded-b-xl">
              <p class="text-small px-2 text-white "> Time: 21:30 / Day : 9/9/2020</p>
              <button class="btn-warning px-2 ">Cấm bình luận</button>
              <button class="btn-danger px-2 "> Xóa bình luận</button>


            </div>
          </div>
            </div>
          </div>

        </div>
        </div>

      </div>
    </div>
  </div>
      </div>
    </div>
  </div>

</div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
